{% extends 'base_user.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/userArticlesS.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/articlesS.css" type="text/css">
</head>
<body>
<div class="container">
{% for article in articles %}
        <a href="articles/{{ article.slug }}" class="link">
            <div class="img" style="background-image: url('{{ article.main_image.url }}')"><div></div></div>
            <div class="txt">
                {% if article.shown_tag %}
                <div class="tag">{{ article.shown_tag }}</div>
                {% endif %}
                <div class="title">{{ article.title }}</div>
                <div class="short_desc">{{ article.short_desc }}</div>
            </div>
            <div class="txt_bottom">
                <hr>
                <div class="date">{{ article.pub_date }}</div>
            </div>
        </a>
{% endfor %}
    </div>
</body>
</html>
{% endblock %}