@media only screen and (max-width: 1100px){
    .wrapper.wrapper > img{
        width: calc(1000vw / 11);
    }
}

@media only screen and (max-width: 1000px){
    .wrapper.wrapper img{
        width: 90vw;
    }
}

.wrapper.wrapper{
    display: flex;
    justify-content: center;
}

.wrapper > img{
    width: 1000px;
    height: auto;
}