.container{
    width: 1250px;
    margin: 0 auto 0 auto;
    padding: 30px 0 30px 0;
    font-family: 'Arial', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Marginesy obiektow */
.title, .short_desc, .mainImg{
    margin-bottom: 30px;
}

.addTxt, .addImg{
    margin-top: 30px;
}

.title, .author_date, .short_desc, .mainImg, .content, .titleLine, .addImg, .addImg > img, .addTxt{
    width: 1000px;
}

.title, .short_desc, .content, .titleLine{
    color: #161616;
}

.author_date, .titleLine{
    margin-bottom: 20px;
}

.title{
    font-size: 50px;
    font-weight: 600;
}

.author_date{
    font-size: 18px;
    color: #444;
}

.short_desc{
    line-height: 30px;
    font-weight: 600;
    font-size: 18px;
    word-spacing: 2px;
}

.content, .addTxt{
    text-align: left;
    word-spacing: 2px;
    font-size: 20px;
    line-height: 30px;
}
#commentContainer
{
    width: 1000px;
    min-height: 40px;
    //border: 2px solid darkgrey;
    margin-left: auto;
    margin-right: auto;
}
.commentBox
{
    width: 850px;
    margin-top: 20px;
    border: 3px solid #eaeaea;
    margin-left: auto;
    margin-right: auto;
    background: #eeeeee;
    height: 266px;
    margin-bottom: 50px;
}
.commentUsername
{
    height: 30px;
    margin-top: 20px;
    min-width: 240px;
    max-width: 240px;
    margin-left: 25px;
    float: left;
    font-size: 24px;
    border-radius: 4px;
    overflow-wrap: break-word;
    border: 2px solid #b2b2b2;
    resize: none;
    outline: none;
    margin-bottom: 20px;
}
.commentUsername::-webkit-input-placeholder, .commentContent::-webkit-input-placeholder
{
    color: dimgrey;
}
.commentContent
{
    height: 80px;
    min-width: 800px;
    max-width: 800px;
    border: 2px solid #b2b2b2;
    border-radius: 4px;
    margin-left: 25px;
    font-size: 19px;
    overflow-wrap: break-word;
    resize: none;
    outline: none;
}
.btnCom
{
    width:100px;
    height: 40px;
    background-color: #161616;
    margin-left: 18px;
    color: white;
    text-align: center;
    font-weight: 600;
    margin-top: 26px;
    border-radius: 5px;
    border: 4px solid black;
    float: left;
}
.comC
{
    font-size: 15px;
    margin-left: 25px;
    margin-bottom: 30px;
}
.comUN
{
    margin-top: 5px;
    margin-left: 10px;
    font-weight: 700;
    float: left;
    font-size: 19px;
    margin-bottom: 15px;
}
.box
{
    margin-left: 100px;
    width: 800px;
}
.pubdate
{
   float: left;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 11px;
    color: darkgrey;
}
.g-recaptcha
{
    margin-left: 400px;
    margin-top: 10px;
    float: left;
}