.container{
    width: 1250px;
    margin: 0 auto 0 auto;
    padding: 30px 0 30px 0;
    font-family: 'Arial', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Marginesy obiektow */
.title, .short_desc, .mainImg{
    margin-bottom: 30px;
}

.addTxt, .addImg{
    margin-top: 30px;
}

.title, .author_date, .short_desc, .mainImg, .content, .titleLine, .addImg, .addImg > img, .addTxt{
    width: 1000px;
}

.title, .short_desc, .content, .addTxt{
    word-wrap: break-word;
}

.title, .short_desc, .content, .titleLine{
    color: #161616;
}

.author_date, .titleLine{
    margin-bottom: 20px;
}

.title{
    font-size: 50px;
    font-weight: 600;
}

.author_date{
    font-size: 18px;
    color: #444;
}

.short_desc{
    line-height: 30px;
    font-weight: 600;
    font-size: 18px;
    word-spacing: 2px;
}

.content, .addTxt{
    text-align: justify;
    word-spacing: 2px;
    font-size: 20px;
    line-height: 30px;
}

#commentContainer
{
    width: 1250px;
    margin: 0 auto 0 auto;
    padding: 30px 0 30px 0;
    min-height: 40px;
    font-family: 'Arial', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentBox
{
    width: 850px;
    min-height: 41px;
    margin: 20px auto 30px auto;
    border: 3px solid #eaeaea;
    background: #eee;
}

.commentBox h2
{
    margin: 0;
    margin-top: 20px;
    color: #1a1a1a;
    font-size: 29px;
    text-align: center;
}

.commentUsername
{
    height: 30px;
    margin-top: 20px;
    min-width: 240px;
    max-width: 240px;
    margin-left: 25px;
    float: left;
    font-size: 24px;
    border-radius: 4px;
    overflow-wrap: break-word;
    border: 2px solid #b2b2b2;
    resize: none;
    outline: none;
    margin-bottom: 20px;
}

.commentUsername::-webkit-input-placeholder, .commentContent::-webkit-input-placeholder
{
    color: dimgrey;
}

.commentContent
{
    height: 80px;
    min-width: 800px;
    max-width: 800px;
    border: 2px solid #b2b2b2;
    border-radius: 4px;
    margin-left: 25px;
    font-size: 19px;
    overflow-wrap: break-word;
    resize: none;
    outline: none;
}

.btnCom
{
    margin: 10px auto 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.g-recaptcha
{
    width: 301px;
    height: 78px;
    margin: 0;
}

.btnCom button{
    margin: 0 10px 0 20px;
    padding: 0 15px 0 15px;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    background: #161616;
    border-bottom: 7px solid #000;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
}

.btnCom button:hover{
    cursor: pointer;
}

.btnCom button:active{
    border: none;
    border-radius: 6px;
    outline: none;
}

.box
{
    margin: 0 auto 0 auto;
    width: 760px;
    background: #eaeaea;
    padding: 20px;
}

.comHeader{
    width: 760px;
    min-height: 24px;
    max-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.trash-button
{
    width: 40px;
    text-indent: 0;
    height: 40px;
    background: linear-gradient(to bottom, #464646 0%,#313131 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #161616;
    color: #fbfbfb;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 15px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;
    margin-right: 15px;
}

.trash-button:hover{
    cursor: pointer;
}

.trash-button:active
{
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
    top: 1px;
    outline: none;
}

.trash-button:after
{
    display: none;
    outline: none;
}

.comUN
{
    height: 24px;
    line-height: 24px;
    font-weight: 700;
    font-size: 19px;
}

.pubdate
{
    height: 24px;
    line-height: 24px;
    font-size: 11px;
    color: #aaa;
}

.comC
{
    font-size: 15px;
    margin: 15px 0 15px 25px;
    width: 710px;
    word-wrap: break-word;
}

#replies-button
{
    height: 36px;
    padding: 0 10px 0 10px;
    background: #161616;
    color: #fff;
    font-size: 14px;
    margin-left: 12px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #000;
    border-radius: 7px;
    outline: none;
}

#replies-button:hover{
    cursor: pointer;
}

#replies-button:active{
    border: none;
    outline: none;
}

.commentReply
{
    width:700px;
    height: 100px;
    margin-left: 140px;
}

#reply-form
{
    //display: none;
}

.chuj
{
    background-color: #005580;
}

.comLine{
    width: 800px;
    margin-bottom: 5px;
}