html, body
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Arial', serif;
    background: #fff;
    margin: 0;
}

.menu.menu{
    width: 1200px;
}

.container
{
    width:1200px;
    min-height: 10px;
    height: auto;
    background-color: #fff;
    margin: 10px auto 0 auto;
    padding: 0;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.field
{
    width:1100px;
    height: 60px;
    margin-bottom: 10px;
    clear: both;
}
.nameField
{
    width:250px;
    margin-top: 40px;
    text-align: center;
    line-height: 60px;
    margin-left: 25px;
    margin-right: 25px;
    height: 100%;
    font-size: 21px;
    font-weight: 500;
    float: left;
}
.input
{
    background: #e7e7e7;
    margin-top: 40px;
    height: 100%;
    min-width: 646px;
    max-width: 646px;
    float: left;
    overflow-wrap: break-word;
    border: none;
    outline: none;
    //border: 2px solid #e0e0e0;
    //border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
}
.postContentCreator{
    background: #fff;
    padding: 0;
    margin: 10px auto 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.input:focus
{
    box-shadow: 0 0 5px #999;
    padding: 0.5%;
    border: 1px solid #999;
}
.submit
{
    width: 1000px;
    height: auto;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
}
.submit_button
{
    margin-top: 60px;
    width: 200px;
    height: 60px;
    outline: none;
    background: #e7e7e7;
    border: 3px solid #ddd;
    color: #333;
    font-weight: 600;
    font-size: 20px;
    transition: background 300ms;
}

.submit_button:hover{
    cursor: pointer;
    background: #ddd;
}


.inputImage
{
    margin-top: 60px;
}
.inputImage1
{
    margin-top: 3px;
    margin-bottom: 3px;
    outline: none;
}
.field br
{
    content: "";
    padding-top: 30px;
    display: block;
    font-size: 24%;
}
.separator
{
    width: 80%;
    border-bottom: 1px solid darkgrey;
    height: 1px;
    padding-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
}
.checkboxMltp
{
    z-index: 1;
    position: relative;
    padding-top: 25px;
}
.shownTagCL
{
    margin-top: -10px;
}
.field br
{
    display: none;
}
.container > form > .nameField.nameField{
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    font-size: 30px;
    font-weight: 600;
}