
.icon-star:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-trash-empty:before { content: '\e804'; } /* '' */
.icon-ok:before { content: '\e805'; } /* '' */
.icon-edit:before { content: '\e806'; } /* '' */
.icon-ok-circled:before { content: '\e807'; } /* '' */
.icon-calendar:before { content: '\e808'; } /* '' */
.icon-pencil:before { content: '\e809'; } /* '' */
.icon-edit-1:before { content: '\e80a'; } /* '' */
.icon-edit-2:before { content: '\e80b'; } /* '' */
.icon-gmail:before { content: '\e80c'; } /* '' */
.icon-megaphone:before { content: '\e80d'; } /* '' */
.icon-twitter-1:before { content: '\e80e'; } /* '' */
.icon-emo-beer:before { content: '\e80f'; } /* '' */
.icon-thumbs-up:before { content: '\e810'; } /* '' */
.icon-heart:before { content: '\e811'; } /* '' */
.icon-thumbs-down:before { content: '\e812'; } /* '' */
.icon-guidedog:before { content: '\e813'; } /* '' */
.icon-police:before { content: '\e82b'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-opera:before { content: '\e842'; } /* '' */
.icon-ie:before { content: '\e843'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-edge:before { content: '\f282'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-instagram-2:before { content: '\f31e'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
.icon-calendar-1:before { content: '\f4c5'; } /* '' */