@media only screen and (max-width: 1290px){
    body{
        background: #161616;
    }

    .menu.menu{
        border-bottom: 2px solid #fff;
    }

    .menu.menu > a:hover{
        border-bottom: none;
    }

    .wrapper.wrapper{
        padding: 0;
    }

    .box.box{
        width: 1059px;
    }

    .latest.latest, .latest.latest > div{
        width: 686px;
        height: 430px;
    }

    .latest.latest > div > p{
        width: 646px;
    }

    .new_article.new_article, .new_article.new_article > div{
        width: 333px;
        height: 205px;
    }

    .new_article.new_article > div > p{
        width: 293px;
    }

    .footer.footer{
        border-top: 2px solid #fff;
    }
}

@media only screen and (max-width: 1059px){
    .box.box{
        width: 820px;
        display: flex;
        flex-wrap: wrap;
    }

    .latest.latest, .latest.latest > div{
        width: 800px;
        height: 500px;
        float: none;
    }

    .latest.latest > div > p{
        width: 760px;
    }

    .new_article.new_article, .new_article.new_article > div{
        width: 390px;
        height: 240px;
        float: none;
    }

    .new_article.new_article > div > p{
        width: 350px;
    }

    .box.box > a:nth-last-child(1){
        display: none;
    }
}

@media only screen and (max-width: 840px){
    .box.box{
        width: 700px;
        padding: 0 0 15px 15px;
    }

    .latest.latest, .new_article.new_article{
        width: 335px;
        height: 209px;
        margin: 15px 15px 0 0;
    }

    .latest.latest > div, .new_article.new_article > div{
        width: 335px;
        height: 209px;
        margin: 0;
    }

    .latest.latest > div > p, .new_article.new_article > div > p{
        padding: 0 10px 10px 10px;
        width: 315px;
        font-size: 24px;
    }

    .box.box > a:nth-last-child(1){
        display: block;
    }
}

@media only screen and (max-width: 720px){
    .box.box{
        width: 100vw;
        padding: 0 0 15px 0;
    }

    .box.box > a{
        --a-res-width: calc(100vw - 30px);
        width: var(--a-res-width);
        height: calc(var(--a-res-width) * 5 / 8);
        margin: 15px 15px 0 15px;
    }

    .latest.latest, .new_article.new_article{
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .latest.latest > div, .new_article.new_article > div{
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .latest.latest > div > p, .new_article.new_article > div > p{
        width: calc(100% - 20px);
    }
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
}

.warning{
    display: none;
}

.box{
    width: 1230px;
    height: 780px;
    padding: 0 0 20px 20px;
    display: block;
}

.latest, .latest > div{
    width: 800px;
    height: 500px;
}

.new_article, .new_article > div{
    width: 390px;
    height: 240px;
}

.latest, .new_article{
    margin: 20px 20px 0 0;
}

.latest > div > p{
    width: 760px;
    font-size: 30px;
}

.new_article > div > p{
    width: 350px;
    font-size: 22px;
}

.latest > div > p, .new_article > div > p{
    padding: 0 20px 20px 20px;
}

.box{
    background: #161616;
    margin: 0 auto 0 auto;
    height: auto;
}

.latest{
    background-size: cover;
    float: left;
}

.new_article{
    background-size: cover;
    letter-spacing: 0.6px;
    float: right;
}

.latest > div, .new_article > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    transition: background 300ms;
}

.latest:hover > div, .new_article:hover > div{
    background: rgba(0, 0, 0, 0.3);
}

.latest > div > p, .new_article > div > p{
    text-align: left;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    font-weight: 600;
    transition: color 300ms,
    -webkit-box-shadow 300ms,
    -moz-box-shadow 300ms,
    box-shadow 300ms,
    background 300ms;
}

.latest > div > p{
    -webkit-box-shadow: 0 -30px 10px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 -30px 10px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 -30px 10px 5px rgba(0, 0, 0, 0.3);
}

.new_article > div > p{
    -webkit-box-shadow: 0 -20px 10px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 -20px 10px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 -20px 10px 5px rgba(0, 0, 0, 0.3);
}

.latest:hover > div > p, .new_article:hover > div > p{
    -webkit-box-shadow: none;
    background: none;
    color: #ddd;
}

.articleTagLatest{
    margin: 20px 0 0 20px;
}

.articleTagNew{
    margin: 15px 0 0 20px;
}

.articleTagLatest, .articleTagNew{
    /* Chwilowe ustawienie */
    background: transparent;
    color: transparent;

    //background: #161616;
    //color: #fff;
    padding: 8px;
    border-radius: 9px;
    font-size: 16px;
    font-weight: 600;
}

