@media only screen and (max-width: 1290px){
    body{
        background: #161616;
    }

    .menu.menu{
        border-bottom: 2px solid #fff;
    }

    .menu.menu > a:hover{
        border-bottom: none;
    }

    .wrapper.wrapper{
        padding: 0;
    }

    .box.box{
        width: 1059px;
    }

    .latest.latest, .latest.latest > div{
        width: 686px;
        height: 430px;
    }

    .latestTitle.latestTitle{
        width: 646px;
    }

    .new_article.new_article, .new_article.new_article > div{
        width: 333px;
        height: 205px;
    }

    .newArticleTitle.newArticleTitle{
        width: 293px;
    }

    .footer.footer{
        border-top: 2px solid #fff;
    }
}

@media only screen and (max-width: 1079px){
    .box.box{
        width: 840px;
        height: auto;
        padding: 0;
    }

    .box.box > div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0 0 20px 20px;
        width: 820px;
    }

    .latest.latest, .latest.latest > div{
        width: 800px;
        height: 500px;
        float: none;
    }

    .latestTitle.latestTitle{
        width: 800px;
        float: none;
    }

    .new_article.new_article, .new_article.new_article > div{
        width: 390px;
        height: 240px;
        float: none;
    }

    .newArticleTitle.newArticleTitle{
        width: 390px;
    }

    .box.box > div > a:nth-last-child(1){
        display: none;
    }

    .latestTitle.latestTitle, .newArticleTitle.newArticleTitle{
        padding: 0;
    }

    .latestTitle.latestTitle > div, .newArticleTitle.newArticleTitle > div{
        margin: 0 20px 20px 20px;
    }
}

@media only screen and (max-width: 980px){
    .box.box{
        width: 980px;
        padding: 10px 10px 30px 30px;
    }

    .box.box > div{
        width: 940px;
        margin: 0;
    }

    .latest.latest, .latest.latest > div, .new_article.new_article, .new_article.new_article > div{
        margin: 20px 20px 0 0;
    }

    .latest.latest, .latest.latest > div{
        width: 920px;
        height: 575px;
    }

    .new_article.new_article, .new_article.new_article > div{
        width: 450px;
        height: 281px;
    }

    .latestTitle.latestTitle{
        width: 920px;
    }

    .newArticleTitle.newArticleTitle{
        width: 450px;
    }

    .latestTitle.latestTitle > div{
        margin: 0 25px 25px 25px;
    }

    .newArticleTitle.newArticleTitle > div{
        margin: 0 15px 15px 15px;
    }

    .latestTitle.latestTitle{
        font-size: 49px;
    }

    .newArticleTitle.newArticleTitle{
        font-size: 35px;
    }
}

.wrapper{
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

.box{
    width: 1230px;
    height: 780px;
    padding: 0 0 20px 20px;
    background: #161616;
}

.latest, .latest > div{
    width: 800px;
    height: 500px;
}

.new_article, .new_article > div{
    width: 390px;
    height: 240px;
}

.latest, .new_article{
    margin: 20px 20px 0 0;
}

.latestTitle{
    width: 760px;
    font-size: 30px;
}

.newArticleTitle{
    width: 350px;
    font-size: 22px;
}

.latestTitle, .newArticleTitle{
    padding: 0 20px 20px 20px;
}

.latestTitle, .latestTitle > div, .newArticleTitle, .newArticleTitle > div{
    outline: none;
    border: none;
}

.latest{
    background-size: cover;
    float: left;
}

.new_article{
    background-size: cover;
    letter-spacing: 0.6px;
    float: right;
}

.latest > div, .new_article > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    transition: background 300ms;
}

.latest:hover > div, .new_article:hover > div{
    background: rgba(0, 0, 0, 0.3);
}

.latestTitle, .newArticleTitle{
    text-align: left;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    font-weight: 600;
    transition: color 300ms,
    -webkit-box-shadow 300ms,
    -moz-box-shadow 300ms,
    box-shadow 300ms,
    background 300ms;
}

.latestTitle{
    -webkit-box-shadow: 0 -30px 10px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 -30px 10px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 -30px 10px 5px rgba(0, 0, 0, 0.3);
}

.newArticleTitle{
    -webkit-box-shadow: 0 -20px 10px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 -20px 10px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 -20px 10px 5px rgba(0, 0, 0, 0.3);
}

.latestTitle:hover, .newArticleTitle:hover{
    -webkit-box-shadow: none;
    background: none;
    color: #ddd;
}

.articleTagLatest{
    margin: 20px 0 0 20px;
}

.articleTagNew{
    margin: 15px 0 0 20px;
}

.articleTagLatest, .articleTagNew{
    /* Chwilowe ustawienie */
    background: transparent;
    color: transparent;

    //background: #161616;
    //color: #fff;
    padding: 8px;
    border-radius: 9px;
    font-size: 16px;
    font-weight: 600;
}

