body,
html {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    justify-content: center;
}

.container {
    font-size: 13px;
    text-align: center;
}

ul.MTags {
    list-style: none;
    padding: 33px 0 33px 0;
    width: 450px;
    margin: 0 auto 0 auto;
}
ul.MTags li{
  display: inline;
}
ul.MTags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.MTags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.MTags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
}

ul.MTags li input[type="checkbox"]:checked + label {
    border: 2px solid #525252;
    background-color: #2c2c2c;
    color: #fff;
}

ul.MTags li input[type="checkbox"] {
    opacity: 0;
}

#mainTagContainer, #secondaryTagContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#mainTagContainer
{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    //background-color: #333333;
}
#secondaryTagContainer
{
    width: 450px;
    text-align: center;
    //background-color: #005580;
    margin-right: auto;
    margin-left: auto;
}

#mainTagContainer > h2, #secondaryTagContainer > h2{
    width: 100%;
}

#mainTagContainer > li:nth-child(4n+1), #secondaryTagContainer > li:nth-child(4n+1){
    margin-right: 24px;
}

h2
{
    font-size: 28px;
}
#btnTags
{
    display: inline-block;
    margin: 0 auto;
    width: 120px;
    height: 50px;
    font-size: 23px;
    margin-top: 10px;

    border-top: none;
    border-left: none;
    border-right: none;
    background: #161616;
    border-bottom: 7px solid #000;
    color: #fff;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
}
#btnTags:hover{
    cursor: pointer;
}

#btnTags:active{
    border: none;
    outline: none;
}

#break
{
    border-bottom: 1px solid grey;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
}

#mainTagContainer > li > label{
    outline: none;
}