@media only screen and (max-width: 400px){
	.info.info > i{
		display: none;
	}

	.infoBox.infoBox{
		text-align: center;
	}

	.infoBox.infoBox{
		width: 100%;
	}
}

.wrapper.wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.infoBox{
	margin: 0;
	padding-top: 30px;
	width: calc(100% - 60px);
	color: #161616;
	font-size: 20px;
}

h1{
	margin: 0;
	padding: 0;
}

hr{
	margin-top: 20px;
	border-top: 1px solid #161616;
}

a{
	text-decoration: none;
	color: #161616;
}

.info{
	margin: 20px 0 0 0;
}

.info > i{
	color: #161616;
}

.infoBox > a, .infoBox > a i{
	transition: color 300ms;
}

.infoBox > a:hover, .infoBox > a:hover i{
	color: #3578E5;
}

/*.infoBox > a:nth-of-type(2):hover{
	color: #c4302b;
}*/

h2, h3{
	margin: 20px 0 0 0;
}