/* Styl paska przewijania */

html{
	overflow-x: hidden;
}

body::-webkit-scrollbar{
	width: 5px;
	background: #fff;
}

body::-webkit-scrollbar-thumb{
	background-color: #161616;
	outline: none;
}

body::-webkit-scrollbar-track{
	background: transparent;
}

/*
@media only screen and (max-width: 1000px){
	.menu.menu > a{
		border: none;
	}

	.footer.footer{
		height: 83px;
	}

	.footer.footer > a, .social_media_footer.social_media_footer{
		height: 36px;
	}

	.footer.footer .icon-facebook-squared{
		font-size: 35px;
	}

	.footer_contact.footer_contact, .logo_footer.logo_footer{
		width: 200px;
	}
}

@media only screen and (max-width: 700px) {
	#mainLowQlt#mainLowQlt{
		display: block;
	}

	.menu.menu > a:first-of-type{
		display: none;
	}

	.footer.footer{
		height: 63px;
	}

	.footer.footer > a, .social_media_footer.social_media_footer{
		height: 26px;
	}

	.footer.footer .icon-facebook-squared{
		font-size: 30px;
	}

	.footer_contact.footer_contact, .logo_footer.logo_footer{
		width: 150px;
	}
}

@media only screen and (max-width: 600px){
	.menu.menu > a{
		margin: 0 9px 0 9px;
	}
}

@media only screen and (max-width: 500px){
	.menu.menu{
		margin: 0;
	}

	.menu_button.menu_button{
		text-decoration: underline;
	}

	.menu_button > i{
		display: none;
	}

	.logo.logo{
		width: 80vw;
		height: auto;
	}

	.footer.footer{
		height: 50px;
	}

	.footer.footer > a, .social_media_footer.social_media_footer{
		height: 20px;
	}

	.footer.footer .icon-facebook-squared{
		font-size: 25px;
	}

	.footer_contact.footer_contact, .logo_footer.logo_footer{
		width: 100px;
	}
}

@media only screen and (max-width: 400px){
	.menu_button.menu_button{
		padding: 0;
	}

	.footer.footer{
		justify-content: center;
	}

	.footer.footer > a:first-child, .social_media_footer.social_media_footer{
		display: none;
	}

	.footer.footer > a:last-child{
		margin: 0;
	}
}
*/

@media only screen and (max-width: 980px){
	.logo.logo{
		height: 170px;
		margin-top: 15px;
		margin-bottom: 20px;
	}

	.menu.menu{
		height: 100px;
		align-items: center;
	}

	.menu_button.menu_button{
		font-size: 36px;
	}

	.icon-doc-text-inv.icon-doc-text-inv, .icon-search.icon-search{
		font-size: 37px;
	}

	.icon-home.icon-home{
		font-size: 43px;
	}

	.menu_button.menu_button > i{
		margin-right: 12px;
	}

	.wrapper.wrapper{
		min-height: calc(100vh - 435px);
	}

	.footer.footer > a:first-of-type{
		margin-left: 60px;
	}

	.footer.footer > a:last-of-type{
		margin-right: 60px;
	}

	.logo_footer.logo_footer, .footer_contact.footer_contact{
		width: 300px;
	}

	.icon-facebook-squared.icon-facebook-squared{
		font-size: 60px;
	}

	.footer.footer{
		height: 130px;
	}
}

/* Default values when width is higher than 1100px */

/* Wartości wspólne */

.icon-home{
	font-size: 27px;
}

.icon-doc-text-inv, .icon-search{
	font-size: 23px;
}

html,body{
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Arial', serif;
}

html, body, .banner, .menu, .wrapper, .footer{
	width: 100vw;
}

a{
	text-decoration: none;
}

a:hover{
	cursor: pointer;
}

.banner{
	background: #161616;
	padding: 20px 0 20px 0;
}

.logo:hover, .logo_footer:hover{
	cursor: pointer;
}

.wrapper{
	min-height: calc(100vh - 315px);
	margin: 0;
	padding: 0;
}

/* Nagłówek */

.logo{
	display: block;
	height: 100px;
	margin: 0 auto 0 auto;
}

.menu{
	border-top: 2px solid #fff;
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	background: #161616;
}

.menu > a{
	padding: 0;
	height: 68px;
	margin: 0 20px 0 20px;
	transition: border 300ms;
}

.menu > a:hover{
	border-bottom: 2px solid #fff;
}

.menu > a:active{
	border-bottom: 2px solid #ddd;
}

.menu_button{
	display: block;

	border: none;
	outline: none;
	background: none;
	font-size: 22px;
	height: 68px;
	color: #fff;
	transition:
	color 300ms;
}

.menu_button:hover{
	cursor: pointer;
	color: #ddd;
}

.menu_button:active{
	cursor: pointer;
	color: #ddd;
}

.menu_button > i{
	margin-right: 6px;
}

#mainLowQlt{
	display: none;
}

/* Stopka */

.footer{
	height: 103px;
	padding: 0;
	background: #161616;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	clear: both;
}

.footer > a:first-of-type{
	margin-left: 40px;
}

.footer > a:last-of-type{
	margin-right: 40px;
}

.footer > a, .social_media_footer{
	height: 56px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.social_media_footer > a{
	color: #fff;
	transition: 300ms;
}

.social_media_footer > a:hover{
	color: #4267b2;
}

.footer .icon-facebook-squared{
	font-size: 40px;
}

.footer_contact, .logo_footer{
	width: 250px;
	height: auto;
}

.logo_footer{
	height: auto;
}