/* Wartości wspólne */

.icon-doc-text-inv, .icon-search{
	font-size: 23px;
}

html,body{
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

body
{
	font-family: 'Arial', serif;
}


html, body, .banner, .menu, .wrapper, .footer{
	width: 100%;
}

footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a{
	text-decoration: none;
}

a:hover{
	cursor: pointer;
}

.banner{
	background: #161616;
	padding: 20px 0 20px 0;
}

.logo:hover, .logo_footer:hover{
	cursor: pointer;
}


.wrapper{
	min-height: calc(100vh - 308px);
	margin: 0;
	padding: 0;
}

/* Nagłówek */

.logo{
	display: block;
	height: 100px;
	margin: 0 auto 0 auto;
}

.menu{
	border-top: 2px solid #fff;
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	background: #161616;
}

.menu > a{
	padding: 0;
	height: 68px;
	margin: 0 20px 0 20px;
	transition: border 300ms;
}

.menu > a:hover{
	border-bottom: 2px solid #fff;
}

.menu > a:active{
	border-bottom: 2px solid #ddd;
}

.menu_button{
	display: block;

	border: none;
	outline: none;
	background: none;
	font-size: 22px;
	height: 68px;
	color: #fff;
	transition:
	color 300ms;
}

.menu_button:hover{
	cursor: pointer;
	color: #ddd;
}

.menu_button:active{
	cursor: pointer;
	color: #ddd;
}

/* Stopka */

.footer{
	height: 96px;
	background: #161616;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	clear: both;
}

.logo_footer{
	height: 50px;
	padding: 20px;
}

.social_media_footer{
	height: 50px;
	min-width: 50px;
	margin: 20px 0 20px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 38px;
	color: #fff;
}

.footer_button{
	min-height: 50px;
	min-width: 223.625px;
	margin: 20px 20px 20px 0;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	color: #fff;
	font-size: 30px;
	transition: color 300ms;
	cursor: pointer;
}

.footer_button:hover{
	color: #ddd;
}

.footer_button:active{
	color: #ddd;
}

.icon-facebook-squared, .icon-youtube-play{
	transition: color 300ms;
	color: #fff;
}

.social_media_footer .icon-facebook-squared:hover{
	color: #3578E5;
}

.icon-youtube-play:hover{
	color: #c4302b;
}