.infoBox{
	margin: 30px auto 30px auto;
	width: calc(100% - 60px);
	color: #161616;
	font-size: 20px;
}

h1{
	margin: 0;
	padding: 0;
}

hr{
	margin-top: 20px;
	border-top: 1px solid #161616;
}

a{
	text-decoration: none;
	color: #161616;
}

.info{
	margin: 20px 0 0 0;
}

.infoBox > a:nth-of-type(1):hover{
	color: #3578E5;
}

.infoBox > a:nth-of-type(2):hover{
	color: #c4302b;
}

h2, h3{
	margin: 20px 0 0 0;
}