{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/articleS.css">
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript">
    function f(id) {
        document.getElementById(id).style.display = 'block';
    }
</script>
</head>
<body>
<div class="container">
    <div class="title">
        {{ object.title }}
    </div>
    <div class="author_date">
        {{ object.user }} | {{ object.pub_date }}
    </div>
    <hr class="titleLine">
    <div class="short_desc">
        {{ object.short_desc }}
    </div>
    <img src="{{ object.main_image.url }}" alt="Główne zdjęcie" class="mainImg">
    <div class="content">
        {{ object.content }}
    </div>
    {% if object.image_section_two %}
    <div class="addImg">
        <img src="{{ object.image_section_two.url }}" alt="zdjecie2">
    </div>
    {% endif %}
    {% if object.text_section_two %}
    <div class="addTxt">
        {{ object.text_section_two }}
    </div>
    {% endif %}
    {% if object.image_section_three %}
    <div class="addImg">
        <img src="{{ object.image_section_three.url }}" alt="zdjecie2">
    </div>
    {% endif %}
    {% if object.text_section_three %}
    <div class="addTxt">
        {{ object.text_section_three }}
    </div>
    {% endif %}
    {% if object.image_section_four %}
    <div class="addImg">
        <img src="{{ object.image_section_four.url }}" alt="zdjecie2">
    </div>
    {% endif %}
    {% if object.text_section_four %}
    <div class="addTxt">
        {{ object.text_section_four }}
    </div>
    {% endif %}
</div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div id="commentContainer">
    <form method="post">
        {% csrf_token %}
    <div class="commentBox">
        <h2>Dodaj komentarz!</h2>
        {{commentForm.username}}
        {{ commentForm.content }}
        <div class="btnCom">
            <div class="g-recaptcha" data-sitekey="6LfSBvYUAAAAALoa5RH-bYfFa3Bk2bJiweagJ8-2"></div>
            <button type="submit">Opublikuj</button>
        </div>
    </div>
    </form>
    {% for comment in comments %}
        {% if comment.reply == None %}
        <div class="box">
            <div class="comHeader">
                {% if user.is_superuser %}
                    <form method="post">
                    {% csrf_token %}
                        <input type="hidden" name="delete" value="1">
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        <button type="submit" class="trash-button"><i class="icon-trash"></i></button>
                    </form>
                {% endif %}
                <div class="comUN">{{ comment.username }}</div><div class="pubdate" style="">&emsp;|&emsp;{{ comment.pub_date }}</div>
            </div>
            <div style="clear: both"></div>
            <div style="clear: both"></div>
        <div class="comC">{{ comment.content }}</div>
            <button id="replies-button" onclick="f({{ comment.id }})">Odpowiedzi (2)</button>
        </div>
        <div class="comLine"></div>
        <div class="repliesContainer">
        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <div id="{{ comment.id }}" style="display: none;">
        <form method="post" class="addReplyBox">
            {% csrf_token %}
            <input type="hidden" name="comment_id" value="{{ comment.id }}">
            <textarea rows="40" cols="10" type="text" name="username" placeholder="Pseudonim" class="addReplyNick"></textarea>
            <div class="clear"></div>
            <textarea rows="40" cols="10" type="text" name="content" placeholder="Odpowiedź" class="addReplyContent"></textarea>
            <div class="addReplyFooter">
                <div class="g-recaptcha" data-sitekey="6LfSBvYUAAAAALoa5RH-bYfFa3Bk2bJiweagJ8-2"></div>
                <button type="submit">Opublikuj</button>
            </div>
        </form>
        <div class="replyLine"></div>
        {% for reply in comment.replies.all %}
            <div class="replyBox">
            <div class="replyHeader">
                {% if user.is_superuser %}
                        <form method="post">
                        {% csrf_token %}
                            <input type="hidden" name="delete" value="1">
                            <input type="hidden" name="comment_id" value="{{ reply.id }}">
                            <button type="submit" class="trash-button"><i class="icon-trash"></i></button>
                        </form>
                {% endif %}
                        <div class="replyNick">
                            {{ reply.username }}
                        </div>
                    </div>
                    <div class="replyContent">
                        {{ reply.content }}
                    </div>
            </div>
            <div class="replyLine"></div>
        {% endfor %}
        </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
</body>
</html>
{% endblock %}
