{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/fontello.css" type="text/css"/>
    {% load compress static %}

    {% compress css %}
        <link type="text/x-scss" href="{% static 'scss/articleS.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript">
    function onSubmit(token)
    {
        document.getElementById("i-recaptcha").submit();
    }
    function f(id) {
        document.getElementById(id).style.display = 'block';
    }

</script>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="notification">{{ message }}</div>
        {% endif %}
        {% if message.tags == 'error' %}
            <div class="error">{{ message }}</div>
        {% endif %}
    {% endfor %}
{% endif %}
<div class="container">
    <div class="title">
        {{ object.title }}
    </div>
    <div class="author-date">
        {{ object.user }} | {{ object.pub_date }}
    </div>
    <hr class="title-line">
    <div class="short-desc">
        {{ object.short_desc }}
    </div>
    <img src="{{ object.main_image.url }}" alt="Główne zdjęcie" class="main-img">
    <div class="content">
        {{ object.content | safe }}
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="comment">
    <form id="i-recaptcha" method="post">
        {% csrf_token %}
    <div class="comment-add">
        <h2>Dodaj komentarz!</h2>
        {{commentForm.username}}
        {{ commentForm.content }}
        <div class="comment-add-button">
            <button class="g-recaptcha" data-sitekey="6Lc6J74ZAAAAAC0NAYuIFaMiAz9_zW9ReWgcGkdN" data-callback="onSubmit">Opublikuj</button>
        </div>
    </div>
    </form>
    {% for comment in comments %}
        {% if comment.reply == None %}
        <div class="comment-box">
            <div class="comment-header">
                {% if user.is_superuser %}
                    <form method="post">
                    {% csrf_token %}
                        <input type="hidden" name="delete" value="1">
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        <button type="submit" class="trash-button"><i class="icon-trash"></i></button>
                    </form>
                {% endif %}
                <div class="comment-nickname">{{ comment.username }}</div><div class="comment-date" style="">&emsp;|&emsp;{{ comment.pub_date }}</div>
                {% if comment.is_journalist and comment.username == 'Norbert Wojtowicz' or comment.is_journalist and comment.username == 'Bartek Pietrzak' %}
                    <div class="journalist-tag">Programista</div>
                        {% elif comment.is_journalist %}
                        <div class="journalist-tag">Dziennikarz</div>
                    {% endif %}
            </div>
            <div style="clear: both"></div>
            <div style="clear: both"></div>
        <div class="comment-content">{{ comment.content }}</div>
            <button class="replies-button" onclick="f({{ comment.id }})">Odpowiedzi{% if comment.number_of_replies > 0 %} ({{ comment.number_of_replies }}){% endif %}</button>
        </div>
        <div class="comment-line"></div>
        <div class="replies">
        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <div id="{{ comment.id }}" style="display: none;">
        <form method="post" class="replies-add">
            {% csrf_token %}
            <input type="hidden" name="comment_id" value="{{ comment.id }}">
            <textarea rows="40" cols="10" type="text" name="username" placeholder="Pseudonim" class="replies-add-nick"></textarea>
            <div class="clear"></div>
            <textarea rows="40" cols="10" type="text" name="content" placeholder="Odpowiedź" class="replies-add-content"></textarea>
            <div class="replies-add-footer">
                <div class="g-recaptcha" data-sitekey="6LfSBvYUAAAAALoa5RH-bYfFa3Bk2bJiweagJ8-2"></div>
                <button type="submit">Opublikuj</button>
            </div>
        </form>
        <div class="replies-line"></div>
        {% for reply in comment.replies.all %}
            <div class="replies-box">
            <div class="replies-header">
                {% if user.is_superuser %}
                        <form method="post">
                        {% csrf_token %}
                            <input type="hidden" name="delete" value="1">
                            <input type="hidden" name="comment_id" value="{{ reply.id }}">
                            <input type="hidden" name="parent_id" value="{{ comment.id }}">
                            <button type="submit" class="trash-button"><i class="icon-trash"></i></button>
                        </form>
                {% endif %}
                        <div class="replies-nick">
                            {{ reply.username }}
                        </div><div class="comment-date" style="">&emsp;|&emsp;{{ comment.pub_date }}</div>
                    {% if reply.is_journalist and reply.username == 'Norbert Wojtowicz' or reply.is_journalist and reply.username == 'Bartek Pietrzak' %}
                    <div class="journalist-tag">Programista</div>
                        {% elif reply.is_journalist %}
                        <div class="journalist-tag">Dziennikarz</div>
                    {% endif %}
                    </div>
                    <div class="replies-content">
                        {{ reply.content }}
                    </div>
            </div>
            <div class="replies-line"></div>
        {% endfor %}
        </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
</body>
</html>
{% endblock %}
