@media only screen and (max-width: 1250px) {
  /* line 5, static/scss/articleS.scss */
  .wrapper.wrapper .container, .wrapper.wrapper .comment {
    width: 1000px; }
  /* line 9, static/scss/articleS.scss */
  .wrapper.wrapper .title, .wrapper.wrapper .author-date, .wrapper.wrapper .short-desc, .wrapper.wrapper .content,
  .wrapper.wrapper .title-line, .wrapper.wrapper .main-img {
    width: 900px; }
  /* line 14, static/scss/articleS.scss */
  .wrapper.wrapper .comment-box, .wrapper.wrapper .comment-header {
    width: 760px; }
  /* line 18, static/scss/articleS.scss */
  .wrapper.wrapper .comment-content {
    width: 710px; }
  /* line 22, static/scss/articleS.scss */
  .wrapper.wrapper .comment-line, .wrapper.wrapper .replies {
    width: 800px; }
  /* line 26, static/scss/articleS.scss */
  .wrapper.wrapper .replies-add, .wrapper.wrapper .repliesBox, .wrapper.wrapper .replies-line, .wrapper.wrapper .replies-add-footer {
    width: 700px; }
  /* line 30, static/scss/articleS.scss */
  .wrapper.wrapper .replies-box, .wrapper.wrapper .replies-header {
    width: 660px; }
  /* line 34, static/scss/articleS.scss */
  .wrapper.wrapper .replies-content {
    width: 610px; } }

/*
@media only screen and (max-width: 1000px) {
  .wrapper.wrapper {
    .container, .comment {
      width: 900px;
    }

    .title, .author-date, .short-desc, .content,
    .title-line, .main-img {
      width: 800px;
    }

    .comment-add {
      width: 850px;
    }

    .comment-box, .comment-header {
      width: 660px;
    }

    .comment-content {
      width: 610px;
    }

    .comment-line, .replies {
      width: 700px;
    }

    .replies-add, .repliesBox, .replies-line, .replies-add-footer {
      width: 600px;
    }

    .replies-box, .replies-header {
      width: 560px;
    }

    .replies-add-content {
      width: 550px;
    }

    .replies-content {
      width: 510px;
    }
  }
}
*/
@media only screen and (max-width: 980px) {
  /* line 88, static/scss/articleS.scss */
  .notification.notification, .error.error {
    padding: 20px 0;
    font-size: 2em;
    height: auto; }
  /* Width for mobile devices */
  /* line 97, static/scss/articleS.scss */
  .wrapper.wrapper .container, .wrapper.wrapper .comment {
    width: 980px; }
  /* line 101, static/scss/articleS.scss */
  .wrapper.wrapper .title, .wrapper.wrapper .author-date, .wrapper.wrapper .short-desc, .wrapper.wrapper .content,
  .wrapper.wrapper .title-line, .wrapper.wrapper .main-img {
    width: 880px; }
  /* line 106, static/scss/articleS.scss */
  .wrapper.wrapper .comment-add {
    width: 850px; }
  /* line 110, static/scss/articleS.scss */
  .wrapper.wrapper .comment-box, .wrapper.wrapper .comment-header {
    width: 780px; }
  /* line 114, static/scss/articleS.scss */
  .wrapper.wrapper .comment-content {
    width: 684px; }
  /* line 118, static/scss/articleS.scss */
  .wrapper.wrapper .comment-line, .wrapper.wrapper .replies {
    width: 700px; }
  /* line 122, static/scss/articleS.scss */
  .wrapper.wrapper .replies-box, .wrapper.wrapper .replies-header {
    width: 560px; }
  /* line 126, static/scss/articleS.scss */
  .wrapper.wrapper .replies-content {
    width: 584px; }
  /* line 131, static/scss/articleS.scss */
  .base-body.base-body {
    background: #fff; }
  /* line 136, static/scss/articleS.scss */
  .wrapper.wrapper .title, .wrapper.wrapper .short-desc, .wrapper.wrapper .content {
    color: #000; }
  /* line 140, static/scss/articleS.scss */
  .wrapper.wrapper .short-desc, .wrapper.wrapper .author-date {
    font-size: 24px; }
  /* line 144, static/scss/articleS.scss */
  .wrapper.wrapper .author-date {
    color: #161616;
    margin: 0; }
  /* line 149, static/scss/articleS.scss */
  .wrapper.wrapper .title {
    margin-bottom: 20px; }
  /* line 153, static/scss/articleS.scss */
  .wrapper.wrapper .title-line {
    margin: 20px auto;
    border-color: #161616;
    border-width: 1px 0 0 0; }
  /* line 159, static/scss/articleS.scss */
  .wrapper.wrapper .short-desc {
    margin-bottom: 20px; }
  /* line 163, static/scss/articleS.scss */
  .wrapper.wrapper .main-img {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #fff;
    margin: 0 auto; }
  /* line 169, static/scss/articleS.scss */
  .wrapper.wrapper .content {
    font-size: 26px; }
    /* line 172, static/scss/articleS.scss */
    .wrapper.wrapper .content > p, .wrapper.wrapper .content li, .wrapper.wrapper .content ol, .wrapper.wrapper .content span {
      font-size: 26px !important;
      text-align: left !important; }
    /* line 177, static/scss/articleS.scss */
    .wrapper.wrapper .content blockquote {
      padding: 1px 0; }
      /* line 180, static/scss/articleS.scss */
      .wrapper.wrapper .content blockquote p {
        margin: 14px 0; }
    /* line 185, static/scss/articleS.scss */
    .wrapper.wrapper .content a {
      color: #00aeff; }
      /* line 188, static/scss/articleS.scss */
      .wrapper.wrapper .content a:visited {
        color: #9744ff; }
  /* line 194, static/scss/articleS.scss */
  .wrapper.wrapper .comment-add, .wrapper.wrapper .replies-add, .wrapper.wrapper .comment-box, .wrapper.wrapper .replies-box {
    border: 3px solid #eaeaea;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  /* line 200, static/scss/articleS.scss */
  .wrapper.wrapper .comment-header {
    width: 734px; }
  /* line 204, static/scss/articleS.scss */
  .wrapper.wrapper .comment-nickname {
    font-size: 26px; }
  /* line 208, static/scss/articleS.scss */
  .wrapper.wrapper .comment-content {
    font-size: 20px; }
  /* line 213, static/scss/articleS.scss */
  .wrapper.wrapper .comment-box .comment-date {
    font-size: 18px; }
  /* line 219, static/scss/articleS.scss */
  .wrapper.wrapper .replies {
    width: 780px; }
    /* line 222, static/scss/articleS.scss */
    .wrapper.wrapper .replies > div {
      width: 680px; }
    /* line 226, static/scss/articleS.scss */
    .wrapper.wrapper .replies-add, .wrapper.wrapper .replies-box {
      margin-right: 0; }
    /* line 230, static/scss/articleS.scss */
    .wrapper.wrapper .replies-add {
      width: 680px; }
      /* line 233, static/scss/articleS.scss */
      .wrapper.wrapper .replies-add-content {
        width: 624px;
        font-size: 19px; }
      /* line 238, static/scss/articleS.scss */
      .wrapper.wrapper .replies-add-footer {
        width: 680px; }
      /* line 242, static/scss/articleS.scss */
      .wrapper.wrapper .replies-add-nick {
        font-size: 24px;
        height: 30px; }
    /* line 248, static/scss/articleS.scss */
    .wrapper.wrapper .replies-header {
      width: 634px; }
    /* line 252, static/scss/articleS.scss */
    .wrapper.wrapper .replies-box {
      width: 680px; }
      /* line 255, static/scss/articleS.scss */
      .wrapper.wrapper .replies-box .comment-date {
        font-size: 14px; }
    /* line 260, static/scss/articleS.scss */
    .wrapper.wrapper .replies-nick {
      font-size: 20px; }
    /* line 264, static/scss/articleS.scss */
    .wrapper.wrapper .replies-content {
      font-size: 18px; }
    /* line 268, static/scss/articleS.scss */
    .wrapper.wrapper .replies-button {
      font-weight: 600;
      font-size: 16px;
      height: 40px;
      padding: 0 12px; } }

/* line 278, static/scss/articleS.scss */
.container {
  width: 1250px;
  margin: 0 auto;
  padding: 30px 0;
  font-family: "Arial", serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  /* line 285, static/scss/articleS.scss */
  .container .title, .container .author-date, .container .short-desc, .container .content, .container .title-line, .container .main-img {
    width: 1000px; }
  /* line 289, static/scss/articleS.scss */
  .container .title, .container .short-desc, .container .content, .container .title-line {
    color: #161616; }
  /* line 293, static/scss/articleS.scss */
  .container .title, .container .short-desc, .container .main-img {
    margin-bottom: 30px; }
  /* line 297, static/scss/articleS.scss */
  .container .title, .container .short-desc, .container .content {
    word-wrap: break-word; }
  /* line 301, static/scss/articleS.scss */
  .container .author-date, .container .title-line {
    margin-bottom: 20px; }
  /* line 305, static/scss/articleS.scss */
  .container .main-img {
    margin-top: 30px; }
  /* line 309, static/scss/articleS.scss */
  .container .title {
    font-size: 50px;
    font-weight: 600; }
  /* line 314, static/scss/articleS.scss */
  .container .author-date {
    font-size: 18px;
    color: #444; }
  /* line 319, static/scss/articleS.scss */
  .container .short-desc {
    line-height: 30px;
    font-weight: 600;
    font-size: 18px;
    word-spacing: 2px; }
  /* line 326, static/scss/articleS.scss */
  .container .content {
    word-spacing: 2px;
    font-size: 20px;
    line-height: 30px; }
    /* line 331, static/scss/articleS.scss */
    .container .content blockquote {
      background: #fafafa;
      border-left: 10px solid #ddd; }
      /* line 335, static/scss/articleS.scss */
      .container .content blockquote > p {
        font-family: 'Crimson Text', serif;
        padding: 0 10px;
        font-style: italic;
        content: open-quote; }
    /* line 343, static/scss/articleS.scss */
    .container .content > p {
      width: 100%; }
      /* line 346, static/scss/articleS.scss */
      .container .content > p * {
        width: 100%; }
    /* line 351, static/scss/articleS.scss */
    .container .content img {
      width: 90% !important;
      height: auto !important;
      margin: 0 5%;
      vertical-align: baseline;
      position: relative; }

/* line 361, static/scss/articleS.scss */
.comment-add button, .replies-add button {
  padding: 0 15px;
  height: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  background: #161616;
  color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #000;
  border-radius: 7px;
  outline: none; }
  /* line 376, static/scss/articleS.scss */
  .comment-add button:hover, .replies-add button:hover {
    cursor: pointer; }
  /* line 380, static/scss/articleS.scss */
  .comment-add button:active, .replies-add button:active {
    border: none;
    outline: none; }

/* line 386, static/scss/articleS.scss */
.comment {
  width: 1250px;
  margin: 0 auto;
  padding: 30px 0;
  min-height: 40px;
  font-family: "Arial", serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  /* line 394, static/scss/articleS.scss */
  .comment .comment-line {
    width: 800px; }
  /* line 398, static/scss/articleS.scss */
  .comment .comment-box, .comment .comment-header {
    width: 760px; }
  /* line 402, static/scss/articleS.scss */
  .comment .comment-add {
    min-height: 41px;
    margin: 20px auto 30px auto;
    border: 3px solid #eaeaea;
    background: #eee;
    width: 850px; }
    /* line 409, static/scss/articleS.scss */
    .comment .comment-add h2 {
      margin: 20px 0 0 0;
      color: #1a1a1a;
      font-size: 29px;
      text-align: center; }
    /* line 416, static/scss/articleS.scss */
    .comment .comment-add-button {
      margin: 10px auto;
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center; }
      /* line 421, static/scss/articleS.scss */
      .comment .comment-add-button button {
        margin: 0 10px 0 20px; }
        /* line 424, static/scss/articleS.scss */
        .comment .comment-add-button button:hover {
          cursor: pointer; }
        /* line 428, static/scss/articleS.scss */
        .comment .comment-add-button button:active {
          border: none;
          outline: none; }
    /* line 435, static/scss/articleS.scss */
    .comment .comment-add-username::-webkit-input-placeholder, .comment .comment-add-content::-webkit-input-placeholder {
      color: #696969; }
    /* line 439, static/scss/articleS.scss */
    .comment .comment-add-username {
      height: 30px;
      margin-top: 20px;
      width: 240px;
      margin-left: 25px;
      float: left;
      font-size: 24px;
      border-radius: 4px;
      overflow-wrap: break-word;
      border: 2px solid #b2b2b2;
      resize: none;
      outline: none;
      margin-bottom: 20px; }
    /* line 454, static/scss/articleS.scss */
    .comment .comment-add-content {
      height: 80px;
      min-width: 800px;
      max-width: 800px;
      border: 2px solid #b2b2b2;
      border-radius: 4px;
      margin-left: 25px;
      font-size: 19px;
      overflow-wrap: break-word;
      resize: none;
      outline: none; }
  /* line 468, static/scss/articleS.scss */
  .comment .comment-box {
    margin: 0 auto;
    background: #eaeaea;
    padding: 20px; }
  /* line 474, static/scss/articleS.scss */
  .comment .comment-content {
    width: 710px; }
  /* line 478, static/scss/articleS.scss */
  .comment .comment-nickname {
    height: 24px;
    line-height: 24px;
    font-weight: 700;
    font-size: 19px; }
  /* line 485, static/scss/articleS.scss */
  .comment .comment-content {
    font-size: 15px;
    margin: 15px 25px;
    word-wrap: break-word; }
  /* line 491, static/scss/articleS.scss */
  .comment .comment-line {
    margin-bottom: 5px; }
  /* line 495, static/scss/articleS.scss */
  .comment .comment-date {
    height: 24px;
    line-height: 24px;
    font-size: 11px;
    color: #aaa; }
  /* line 502, static/scss/articleS.scss */
  .comment .comment-header {
    min-height: 24px;
    max-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }

/* line 509, static/scss/articleS.scss */
.replies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 800px; }
  /* line 513, static/scss/articleS.scss */
  .replies .replies-add, .replies .repliesBox, .replies .replies-line, .replies .replies-add-footer {
    width: 700px; }
  /* line 517, static/scss/articleS.scss */
  .replies .replies-box, .replies .replies-header {
    width: 660px; }
  /* line 521, static/scss/articleS.scss */
  .replies .replies-content {
    width: 610px;
    font-size: 15px;
    margin: 15px 25px 0 25px;
    word-wrap: break-word; }
  /* line 528, static/scss/articleS.scss */
  .replies-line {
    margin-bottom: 5px; }
  /* line 532, static/scss/articleS.scss */
  .replies-box {
    background: #eee;
    padding: 20px; }
  /* line 537, static/scss/articleS.scss */
  .replies-header {
    min-height: 24px;
    max-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
  /* line 543, static/scss/articleS.scss */
  .replies-nick {
    height: 24px;
    line-height: 24px;
    font-weight: 700;
    font-size: 19px; }
  /* line 550, static/scss/articleS.scss */
  .replies .replies-add {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #eee;
    padding-bottom: 10px; }
    /* line 555, static/scss/articleS.scss */
    .replies .replies-add button {
      margin: 0 20px; }
      /* line 558, static/scss/articleS.scss */
      .replies .replies-add button:hover {
        cursor: pointer; }
      /* line 562, static/scss/articleS.scss */
      .replies .replies-add button:active {
        border: none;
        outline: none; }
    /* line 568, static/scss/articleS.scss */
    .replies .replies-add-nick {
      height: 26px;
      margin-top: 20px;
      width: 240px;
      margin-left: 25px;
      float: left;
      font-size: 20px;
      border-radius: 4px;
      overflow-wrap: break-word;
      border: 2px solid #b2b2b2;
      resize: none;
      outline: none;
      margin-bottom: 10px; }
    /* line 583, static/scss/articleS.scss */
    .replies .replies-add-content {
      height: 68px;
      width: 650px;
      border: 2px solid #b2b2b2;
      border-radius: 4px;
      margin: 0 0 10px 25px;
      font-size: 16px;
      overflow-wrap: break-word;
      resize: none;
      outline: none; }
    /* line 595, static/scss/articleS.scss */
    .replies .replies-add-footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center; }
  /* line 600, static/scss/articleS.scss */
  .replies-button {
    height: 36px;
    padding: 0 10px 0 10px;
    background: #161616;
    color: #fff;
    font-size: 14px;
    margin-left: 12px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #000;
    border-radius: 7px;
    outline: none; }
    /* line 614, static/scss/articleS.scss */
    .replies-button:hover {
      cursor: pointer; }
    /* line 618, static/scss/articleS.scss */
    .replies-button:active {
      border: none;
      outline: none; }

/* line 625, static/scss/articleS.scss */
.g-recaptcha {
  width: 301px;
  height: 78px;
  margin: 0; }

/* line 631, static/scss/articleS.scss */
.error, .notification {
  width: 100%;
  height: 3vw;
  text-align: center;
  line-height: 2.9vw;
  font-size: 1.2em;
  background-color: #161616;
  border-top: 2px solid #fff; }

/* line 641, static/scss/articleS.scss */
.notification {
  color: #fff; }

/* line 645, static/scss/articleS.scss */
.error {
  color: #fd5858; }

/* line 649, static/scss/articleS.scss */
.trash-button {
  width: 40px;
  text-indent: 0;
  height: 40px;
  background: linear-gradient(to bottom, #464646 0%, #313131 100%);
  /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #161616;
  color: #fbfbfb;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  font-size: 15px;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-right: 15px; }
  /* line 666, static/scss/articleS.scss */
  .trash-button:hover {
    cursor: pointer; }
  /* line 670, static/scss/articleS.scss */
  .trash-button:active {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    top: 1px;
    outline: none; }
  /* line 676, static/scss/articleS.scss */
  .trash-button:after {
    display: none;
    outline: none; }

/* line 682, static/scss/articleS.scss */
.journalist-tag {
  font-size: 16px;
  background: #161616;
  color: #fff;
  padding: 7px;
  border-radius: 7px;
  margin-left: auto;
  margin-right: 0; }
