/* Mobile phone version */
@media only screen and (max-width: 980px) {
  /* line 6, static/scss/baseS.scss */
  .base-body.base-body {
    background: #161616; }
    /* line 8, static/scss/baseS.scss */
    .base-body.base-body .banner {
      padding: 35px 0 40px 0; }
    /* line 11, static/scss/baseS.scss */
    .base-body.base-body .logo {
      height: 170px;
      margin: 0 auto; }
    /* line 16, static/scss/baseS.scss */
    .base-body.base-body .menu {
      height: 100px;
      align-items: center;
      border-bottom: 2px solid #fff; }
      /* line 21, static/scss/baseS.scss */
      .base-body.base-body .menu > a:hover {
        border-bottom: none; }
      /* line 25, static/scss/baseS.scss */
      .base-body.base-body .menu-button {
        font-size: 36px; }
        /* line 28, static/scss/baseS.scss */
        .base-body.base-body .menu-button > i {
          margin-right: 12px; }
        /* line 33, static/scss/baseS.scss */
        .base-body.base-body .menu-button .icon-doc-text-inv, .base-body.base-body .menu-button .icon-search {
          font-size: 37px; }
        /* line 37, static/scss/baseS.scss */
        .base-body.base-body .menu-button .icon-home {
          font-size: 43px; }
    /* line 44, static/scss/baseS.scss */
    .base-body.base-body .wrapper {
      min-height: calc(100vh - 481px); }
    /* line 48, static/scss/baseS.scss */
    .base-body.base-body .footer {
      height: 130px;
      border-top: 2px solid #fff; }
      /* line 53, static/scss/baseS.scss */
      .base-body.base-body .footer > a:first-of-type {
        margin-left: 60px; }
      /* line 57, static/scss/baseS.scss */
      .base-body.base-body .footer > a:last-of-type {
        margin-right: 60px; }
      /* line 62, static/scss/baseS.scss */
      .base-body.base-body .footer-logo, .base-body.base-body .footer-contact {
        width: 300px; }
      /* line 66, static/scss/baseS.scss */
      .base-body.base-body .footer .icon-facebook-squared {
        font-size: 60px; } }

/* Common values */
/* line 75, static/scss/baseS.scss */
html, body, header, .banner, nav, main, footer {
  width: 100vw; }

/* line 79, static/scss/baseS.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

/* line 85, static/scss/baseS.scss */
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }

/* line 89, static/scss/baseS.scss */
.wrapper {
  flex: 1 0 auto; }

/* line 93, static/scss/baseS.scss */
.footer {
  flex-shrink: 0; }

/* line 97, static/scss/baseS.scss */
body::-webkit-scrollbar-thumb, .banner, nav, footer {
  background: #161616; }

/* line 102, static/scss/baseS.scss */
a:hover, .logo:hover, .footer-logo:hover, .menu-button:hover {
  cursor: pointer; }

/* Html, body and hyperlinks style */
/* line 109, static/scss/baseS.scss */
html {
  overflow-x: hidden;
  overflow-y: scroll; }

/* line 114, static/scss/baseS.scss */
body {
  font-family: "Arial", serif; }
  /* line 117, static/scss/baseS.scss */
  body::-webkit-scrollbar {
    width: 5px;
    background: #fff; }
    /* line 121, static/scss/baseS.scss */
    body::-webkit-scrollbar-thumb {
      outline: none; }
    /* line 125, static/scss/baseS.scss */
    body::-webkit-scrollbar-track {
      background: transparent; }

/* line 131, static/scss/baseS.scss */
a {
  text-decoration: none; }

/* Header style */
/* line 137, static/scss/baseS.scss */
.banner {
  padding: 20px 0; }
  /* line 140, static/scss/baseS.scss */
  .banner .logo {
    display: block;
    height: 100px;
    margin: 0 auto 0 auto; }

/* line 147, static/scss/baseS.scss */
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  border-top: 2px solid #fff;
  height: 70px; }
  /* line 154, static/scss/baseS.scss */
  .menu > a {
    padding: 0;
    height: 68px;
    margin: 0 20px;
    transition: border 300ms; }
    /* line 160, static/scss/baseS.scss */
    .menu > a:hover {
      border-bottom: 2px solid #fff; }
    /* line 164, static/scss/baseS.scss */
    .menu > a:active {
      border-bottom: 2px solid #ddd; }
    /* line 168, static/scss/baseS.scss */
    .menu > a .menu-button {
      display: block;
      border: none;
      outline: none;
      background: none;
      font-size: 22px;
      height: 68px;
      color: #fff;
      transition: color 300ms; }
      /* line 178, static/scss/baseS.scss */
      .menu > a .menu-button > i {
        margin-right: 6px; }
      /* line 182, static/scss/baseS.scss */
      .menu > a .menu-button:hover {
        color: #fff; }
      /* line 186, static/scss/baseS.scss */
      .menu > a .menu-button:active {
        color: #ddd; }
      /* line 191, static/scss/baseS.scss */
      .menu > a .menu-button .icon-home {
        font-size: 27px; }
      /* line 195, static/scss/baseS.scss */
      .menu > a .menu-button .icon-doc-text-inv, .menu > a .menu-button .icon-search {
        font-size: 23px; }

/* Footer style */
/* line 205, static/scss/baseS.scss */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 103px;
  padding: 0;
  clear: both; }
  /* line 212, static/scss/baseS.scss */
  .footer > a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 56px; }
    /* line 216, static/scss/baseS.scss */
    .footer > a:first-of-type {
      margin-left: 40px; }
    /* line 220, static/scss/baseS.scss */
    .footer > a:last-of-type {
      margin-right: 40px; }
    /* line 224, static/scss/baseS.scss */
    .footer > a .footer-contact, .footer > a .footer-logo {
      width: 250px;
      height: auto; }
  /* line 230, static/scss/baseS.scss */
  .footer .footer-social-media {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    /* line 233, static/scss/baseS.scss */
    .footer .footer-social-media > a {
      color: #fff;
      transition: 300ms; }
      /* line 237, static/scss/baseS.scss */
      .footer .footer-social-media > a > .icon-facebook-squared {
        font-size: 40px; }
      /* line 241, static/scss/baseS.scss */
      .footer .footer-social-media > a:hover {
        color: #4267b2; }
