@media only screen and (max-width: 980px) {
  /* line 4, static/scss/contact.scss */
  .box.box {
    width: calc(100% - 60px);
    color: #fff;
    font-size: 35px;
    text-align: center;
    padding-bottom: 30px; }
    /* line 11, static/scss/contact.scss */
    .box.box h1 {
      font-size: 70px; }
    /* line 15, static/scss/contact.scss */
    .box.box h2 {
      font-size: 60px;
      margin: 20px 0 5px 0; }
    /* line 20, static/scss/contact.scss */
    .box.box > a {
      color: #fff; }
      /* line 23, static/scss/contact.scss */
      .box.box > a:hover, .box.box > a:hover i {
        color: #4267b2; }
    /* line 28, static/scss/contact.scss */
    .box.box .info > i {
      color: #fff; }
    /* line 32, static/scss/contact.scss */
    .box.box hr {
      border-width: 2px 0 0 0;
      border-color: #fff;
      width: 60%;
      margin: 20px auto 0 auto; } }

/* line 41, static/scss/contact.scss */
.wrapper.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

/* line 45, static/scss/contact.scss */
.box {
  margin: 0;
  padding-top: 30px;
  width: calc(100% - 60px);
  color: #161616;
  font-size: 20px; }
  /* line 52, static/scss/contact.scss */
  .box > a, .box > a i {
    transition: color 300ms; }
  /* line 56, static/scss/contact.scss */
  .box > a:hover, .box > a:hover i {
    color: #4267b2; }
  /* line 60, static/scss/contact.scss */
  .box .info > i {
    color: #161616; }
  /* line 64, static/scss/contact.scss */
  .box h1 {
    margin: 0;
    padding: 0; }
  /* line 69, static/scss/contact.scss */
  .box h2 {
    margin: 20px 0 0 0; }
  /* line 73, static/scss/contact.scss */
  .box hr {
    margin-top: 20px;
    border-style: solid;
    border-color: #161616;
    border-width: 2px 0 0 0; }
  /* line 80, static/scss/contact.scss */
  .box a {
    text-decoration: none;
    color: #161616; }
