@media only screen and (max-width: 1290px) {
  /* line 4, static/scss/mainS.scss */
  body {
    background: #161616; }
  /* line 8, static/scss/mainS.scss */
  .menu.menu {
    border-bottom: 2px solid #fff; }
    /* line 11, static/scss/mainS.scss */
    .menu.menu > a:hover {
      border-bottom: none; }
  /* line 16, static/scss/mainS.scss */
  .wrapper.wrapper {
    padding: 0; }
  /* line 20, static/scss/mainS.scss */
  .box.box {
    width: 1059px; }
    /* line 23, static/scss/mainS.scss */
    .box.box .latest, .box.box .latest > div {
      width: 686px;
      height: 430px; }
    /* line 28, static/scss/mainS.scss */
    .box.box .new-article, .box.box .new-article > div {
      width: 333px;
      height: 205px; }
    /* line 33, static/scss/mainS.scss */
    .box.box .latest-title {
      width: 646px; }
    /* line 37, static/scss/mainS.scss */
    .box.box .new-article-title {
      width: 293px; }
  /* line 42, static/scss/mainS.scss */
  .footer.footer {
    border-top: 2px solid #fff; } }

@media only screen and (max-width: 1079px) {
  /* line 48, static/scss/mainS.scss */
  .box.box {
    width: 840px;
    height: auto;
    padding: 0; }
    /* line 53, static/scss/mainS.scss */
    .box.box > div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: 0 0 20px 20px;
      width: 820px; }
      /* line 59, static/scss/mainS.scss */
      .box.box > div > a:nth-last-child(1) {
        display: none; }
    /* line 64, static/scss/mainS.scss */
    .box.box .latest, .box.box .latest > div {
      width: 800px;
      height: 500px;
      float: none; }
    /* line 70, static/scss/mainS.scss */
    .box.box .latest-title {
      width: 800px; }
    /* line 74, static/scss/mainS.scss */
    .box.box .new-article, .box.box .new-article > div {
      width: 390px;
      height: 240px;
      float: none; }
    /* line 80, static/scss/mainS.scss */
    .box.box .new-article-title {
      width: 390px; }
    /* line 84, static/scss/mainS.scss */
    .box.box .latest-title, .box.box .new-article-title {
      padding: 0; }
      /* line 87, static/scss/mainS.scss */
      .box.box .latest-title > div, .box.box .new-article-title > div {
        margin: 0 20px 20px 20px; } }

@media only screen and (max-width: 980px) {
  /* line 95, static/scss/mainS.scss */
  .box.box {
    width: 980px;
    padding: 10px 10px 30px 30px; }
    /* line 99, static/scss/mainS.scss */
    .box.box > div {
      width: 940px;
      margin: 0; }
    /* line 104, static/scss/mainS.scss */
    .box.box .latest, .box.box .latest > div, .box.box .new-article, .box.box .new-article > div {
      margin: 20px 20px 0 0; }
    /* line 108, static/scss/mainS.scss */
    .box.box .latest, .box.box .latest > div {
      width: 920px;
      height: 575px; }
    /* line 113, static/scss/mainS.scss */
    .box.box .new-article, .box.box .new-article > div {
      width: 450px;
      height: 281px; }
    /* line 118, static/scss/mainS.scss */
    .box.box .latest-title {
      width: 920px;
      font-size: 49px; }
      /* line 122, static/scss/mainS.scss */
      .box.box .latest-title > div {
        margin: 0 25px 25px 25px; }
    /* line 127, static/scss/mainS.scss */
    .box.box .new-article-title {
      width: 450px;
      font-size: 35px; }
      /* line 131, static/scss/mainS.scss */
      .box.box .new-article-title > div {
        margin: 0 15px 15px 15px; } }

/* Changing wrapper settings */
/* line 140, static/scss/mainS.scss */
.wrapper {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }

/* line 145, static/scss/mainS.scss */
.box {
  width: 1230px;
  height: 780px;
  padding: 0 0 20px 20px;
  background: #161616; }
  /* line 151, static/scss/mainS.scss */
  .box .latest, .box .latest > div {
    width: 800px;
    height: 500px; }
  /* line 156, static/scss/mainS.scss */
  .box .new-article, .box .new-article > div {
    width: 390px;
    height: 240px; }
  /* line 161, static/scss/mainS.scss */
  .box .latest, .box .new-article {
    margin: 20px 20px 0 0;
    background-size: cover; }
    /* line 165, static/scss/mainS.scss */
    .box .latest-title, .box .new-article-title {
      padding: 0 20px 20px 20px;
      text-align: left;
      margin: 0;
      background: rgba(0, 0, 0, 0.3);
      font-weight: 600;
      transition: color 300ms, -webkit-box-shadow 300ms, -moz-box-shadow 300ms, box-shadow 300ms, background 300ms; }
    /* line 178, static/scss/mainS.scss */
    .box .latest-tag, .box .new-article-tag {
      /* Chwilowe ustawienie */
      background: transparent;
      color: transparent;
      padding: 8px;
      border-radius: 9px;
      font-size: 16px;
      font-weight: 600; }
    /* line 189, static/scss/mainS.scss */
    .box .latest > div, .box .new-article > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      color: #fff;
      transition: background 300ms; }
    /* line 196, static/scss/mainS.scss */
    .box .latest:hover > div, .box .new-article:hover > div {
      background: rgba(0, 0, 0, 0.3); }
    /* line 200, static/scss/mainS.scss */
    .box .latest:hover .latest-title, .box .latest:hover .new-article-title, .box .new-article:hover .latest-title, .box .new-article:hover .new-article-title {
      -webkit-box-shadow: none;
      background: none;
      color: #ddd; }
  /* line 208, static/scss/mainS.scss */
  .box .latest {
    background-size: cover;
    float: left; }
    /* line 212, static/scss/mainS.scss */
    .box .latest-title {
      -webkit-box-shadow: 0 -30px 10px 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 -30px 10px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 0 -30px 10px 5px rgba(0, 0, 0, 0.3);
      width: 760px;
      font-size: 30px; }
    /* line 218, static/scss/mainS.scss */
    .box .latest-tag {
      margin: 20px 0 0 20px; }
  /* line 223, static/scss/mainS.scss */
  .box .new-article {
    letter-spacing: 0.6px;
    float: right; }
    /* line 227, static/scss/mainS.scss */
    .box .new-article-title {
      -webkit-box-shadow: 0 -20px 10px 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 -20px 10px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 0 -20px 10px 5px rgba(0, 0, 0, 0.3);
      width: 350px;
      font-size: 22px; }
    /* line 233, static/scss/mainS.scss */
    .box .new-article-tag {
      margin: 15px 0 0 20px; }
