/* line 2, static/test.scss */
body .chuj23 {
  width: 100%;
  padding: 20px;
  text-align: center;
  background: grey;
  color: #5b80b2; }
  /* line 8, static/test.scss */
  body .chuj23 p {
    padding: 20px;
    background: pink; }
