<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css"/>
</head>
<body>

				<img src="../media/logo-miniatura.png" alt="logo" id="logo" style="margin-left: auto; margin-right: auto;">
				<div id="menu">
					<input type="button" onclick="window.location=''" value="Artykuły" class="menu_button"/>
					<input type="button" onclick="window.location='info'" value="O nas" class="menu_button"/>
					<input type="button" onclick="window.location='kontakt'" value="Kontakt" class="menu_button"/>
				</div>
{% block content %}
{% endblock %}

</body>
</html>