<!DOCTYPE html>
<html lang="pl">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175464341-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-175464341-1');
</script>


    <!-- Metadata -->
    <meta charset="UTF-8">

    <!-- Open Graph Protocol settings -->
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="fb:app_id" content="968448596915860">

    <meta name="twitter:card" content="summary">
    {% block head %}
    {% endblock %}

    <!-- Favicon settings -->
    <link rel="apple-touch-icon" sizes="57x57" href="../media/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../media/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../media/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../media/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../media/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../media/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../media/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../media/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../media/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../media/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../media/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../media/favicon/favicon-16x16.png">
    <link rel="manifest" href="../media/favicon/manifest.json">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="../static/css/fontello.css" type="text/css"/>
    {% load compress static %}

    {% compress css %}
        <link type="text/x-scss" href="{% static 'scss/baseS.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
</head>
<body class="base-body">
    <header>
        <div class="banner">
        <a href="../">
            <img src="https://wobliczu.pl/media/logo_footer.png" alt="logo" class="logo">
        </a>
        </div>
        <nav class="menu">
            <a href="../../"><button value="strona_glowna" class="menu-button">
            <i class="icon-home"></i>Strona główna</button></a>

            <a href="../../articles"><button value="artykuly" class="menu-button">
            <i class="icon-doc-text-inv"></i>Artykuły</button></a>

            <a href="../articles/search"><button value="szukaj" class="menu-button">
            <i class="icon-search"></i>Szukaj</button></a>

            {% if user.is_superuser %}
                <a href="/journalist/userPanel"><button name="journalist" class="menu-button">
                <i class="icon-star"></i> Panel Dziennikarza</button></a>
            {% endif %}
        </nav>
    </header>
    <main class="wrapper">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <a href="../"><img src="../media/logo_footer.png" alt="logo" class="footer-logo"></a>
        <div class="footer-social-media">
            <a href="https://www.facebook.com/Wobliczu/" target="_blank"><i class="icon-facebook-squared"></i></a>
            <!--<a href="#"  target="_blank"><i class="icon-youtube-play""></i></a>-->
        </div>
        <a href="../../kontakt"><img class="footer-contact" alt="kontakt" src="../media/footer_kontakt.png"></a>
    </footer>
</body>