<!DOCTYPE html>
<html lang="pl">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175464341-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-175464341-1');
</script>


    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Graph Protocol settings -->
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="fb:app_id" content="968448596915860">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@wobliczu" />

    <!-- Favicon settings -->
    <link rel="apple-touch-icon" sizes="57x57" href="https://www.wobliczu.pl/media/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://www.wobliczu.pl/media/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://www.wobliczu.pl/media/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://www.wobliczu.pl/media/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://www.wobliczu.pl/media/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://www.wobliczu.pl/media/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://www.wobliczu.pl/media/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://www.wobliczu.pl/media/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.wobliczu.pl/media/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="https://www.wobliczu.pl/media/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.wobliczu.pl/media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://www.wobliczu.pl/media/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.wobliczu.pl/media/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://www.wobliczu.pl/media/favicon/manifest.json">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="../static/css/fontello.css" type="text/css"/>
    {% load compress static %}

    {% compress css %}
        <link type="text/x-scss" href="{% static 'scss/baseS.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

    {% block head %}
    {% endblock %}
</head>
<body class="base-body">
    <header>
        <nav class="menu-top menu">
            <a href="../">
                <img src="../media/logo-wobliczu.jpg" alt="logo" class="menu-logo">
            </a>
        </nav>
        <nav class="menu-bottom menu">
            <div class="menu-bottom-buttons">
                <a href="../"><h2 class="menu-button">Strona główna</h2></a>
                <a href="../../articles"><h2 class="menu-button">Artykuły</h2></a>
            </div>

            <div class="menu-bottom-icons">
                <a href="../articles/search"><h2 class="menu-button">
                    <i class="icon-search"></i>
                </h2></a>

                {% if user.is_superuser %}
                    <a href="/journalist/userPanel"><h2 name="journalist" class="menu-button">
                        <i class="icon-user-3"></i>
                    </h2></a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main class="wrapper">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer-mobile">
        <a href="../"><img src="../media/logo-wobliczu.jpg" alt="logo" class="footer-logo"></a>
        <div class="footer-social-media">
            <a href="https://www.facebook.com/Wobliczu/" target="_blank"><i class="icon-facebook-squared"></i></a>
        </div>
        <a href="../../kontakt"><img class="footer-contact" alt="kontakt" src="https://www.wobliczu.pl/media/footer_kontakt.png"></a>
    </footer>
    <footer class="footer-desktop footer">
        <nav>
            <a href="../" class="footer-desktop-logo"><img src="https://www.wobliczu.pl/media/logo_footer.png" alt="logo"></a>
            <a href="../../kontakt" class="footer-desktop-contact"><h2>Kontakt</h2></a>
            <a href="#" class="footer-desktop-about-us"><h2>O nas</h2></a>
            <a href="#" class="footer-desktop-search"><h2><i class="icon-search"></i></h2></a>
        </nav>
        <nav>
            <a href="https://www.facebook.com/Wobliczu/" class="footer-desktop-fb">
                <h2><i class="icon-facebook-squared"></i></h2></a>
            <a href="https://twitter.com/wobliczu" class="footer-desktop-twitter">
                <h2><i class="icon-twitter"></i></h2></a>
            <a href="https://www.instagram.com/wobliczu/" class="footer-desktop-ig">
                <h2><i class="icon-instagram"></i></h2></a>
        </nav>
    </footer>
</body>