<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../static/css/confirm-delete.css" type="text/css">
</head>
<body>
<main class="container">
    <h1>Czy na pewno chcesz usunąć artykuł o tytule "{{ article_title }}"?</h1>
    <form action="../../articles/" method="post">
        {% csrf_token %}
        <input type="hidden" name="article-id-to-delete" value="{{ article_id }}">
        <button>Tak</button>
    </form>
    <form action="../../articles/">
        <button>Nie</button>
    </form>
</main>
</body>
</html>