{% extends "base.html" %}
{% block content %}
    {% block head %}

    {% load compress static %}

    {% compress css %}
        <link type="text/x-scss" href="{% static 'scss/contact.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

    <meta property="og:title" content="W Obliczu Zmian - kontakt">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://wobliczu.pl/media/preview.png">
    <meta property="og:description" content="Dane kontaktowe, nasze social media oraz lista ludzi zaangażowanych w projekt.">
    <meta property="og:url" content="https://wobliczu.pl/kontakt">

    <meta name="twitter:title" content="W Obliczu Zmian - kontakt">
    <meta name="twitter:description" content="Serwis prognostyczno-analityczny gromadzący informacje z całego świata.">
    <meta name="twitter:image" content="https://wobliczu.pl/media/preview.png">

    <title>W Obliczu Zmian</title>

    <meta name="description" content="Dane kontaktowe, nasze social media oraz lista ludzi zaangażowanych w projekt.">
    <meta name="url" content="https://wobliczu.pl/articles/kontakt">
    {% endblock %}
    <div class="box">
        <h1>W Obliczu Zmian</h1>
        <hr>
        <h2>Kontakt</h2>
        <div class="info">
            <i class="icon-gmail"></i>&#9;wobliczuzmianpl@gmail.com
        </div>
        <h2>Social media</h2>
        <a href="https://www.facebook.com/Wobliczu/">
            <div class="info">
                <i class="icon-facebook-squared"></i>&#9;Facebook
            </div>
        </a>
        <h2>Lider projektu</h2>
        <div class="info">
            <i class="icon-police"></i>&#9;Dominik Czernik
        </div>
        <h2>Dziennikarze</h2>
        <ul class="journalists">
            <li>Dominik Czernik</li>
            <li>Radosław Ditrich</li>
        </ul>
        <h2>Programiści</h2>
        <ul class="programmers">
            <li>Norbert Wojtowicz</li>
            <li>Bartłomiej Pietrzak</li>
        </ul>
        <h2>Czynne wspieranie projektu</h2>
        <ul class="support">
            <li>Dawid Marcinik</li>
        </ul>
    </div>
{% endblock %}