{% extends "base.html" %}
{% block content %}
<!DOCTYPE HTML>
<html>
<head>
    <!-- Meta dane -->
    <meta charset="utf-8"/>
		
    <title> W obliczu zmian</title>
    {% load compress static %}

    {% compress css %}
        <link type="text/x-scss" href="{% static 'scss/contact.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
</head>
<body>
    <div class="box">
        <h1>W Obliczu Zmian</h1>
        <hr>
        <h2>Kontakt</h2>
        <span class="info">
            <i class="icon-gmail"></i>&#9;wobliczuzmianpl@gmail.com
        </span>
        <h2>Social media</h2>
        <a href="https://www.facebook.com/Wobliczu/">
            <span class="info">
                <i class="icon-facebook-squared"></i>&#9;Facebook
            </span>
        </a>
        <h2>Lider projektu</h2>
        <span class="info">
            <i class="icon-police"></i>&#9;Dominik Czernik
        </span>
        <h2>Dziennikarze</h2>
        <ul class="journalists">
            <li>Dominik Czernik</li>
            <li>Radosław Ditrich</li>
        </ul>
        <h2>Programiści</h2>
        <ul class="programmers">
            <li>Norbert Wojtowicz</li>
            <li>Bartłomiej Pietrzak</li>
        </ul>
        <h2>Czynne wspieranie projektu</h2>
        <ul class="support">
            <li>Żurb Markowski</li>
        </ul>
        <!--<a href="#"><span class="info">Youtube</span></a>
        <a href="#"><span class="info"></span></a>-->
    </div>
</body>
</html>
{% endblock %}