{% extends "base.html" %}
{% block content %}
<!DOCTYPE HTML>
<html>
	<head>
		<!-- Meta dane -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="url" content="www.wobliczu.pl">
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<link rel="icon" type="image/png" href="icon-16x16.png" sizes="16x16" />
		
		<meta name="keywords" content="wobliczu, zmian, wobliczu zmian, w, obliczu, oblicze, świat, informacje, aktualności"/>
		<meta name="subject" content="Serwis informacyjny">
		<meta name="language" content="PL">
		<meta name="description" content="Kontakt do nas, gdyby strona nie działała poprawnie.">
		
		<title> W obliczu zmian</title>
		<link rel="stylesheet" href="../static/style.css">
		<link rel="stylesheet" href="../static/style_kontakt.css">
	</head>
	<body>

	</body>
</html>
{% endblock %}