{% extends "base.html" %}
{% block content %}

<!DOCTYPE HTML>
<html lang="pl">
	<head>
		<title> W Obliczu Zmian</title>
		{% load compress static %}

        {% compress css %}
        <link type="text/x-scss" href="{% static 'scss/mainS.scss' %}" rel="stylesheet" media="screen">
        {% endcompress %}

    <!-- Open Graph Protocol settings -->
    <meta property="og:title" content="W Obliczu Zmian">
    <meta property="og:image" content="../../media/preview.png">
    <meta property="og:description" content="Serwis prognostyczno-analityczny gromadzący informacje z całego świata.">

	</head>
	<body>

        <div class="box"><div>
            <a href="articles/{{ latest_article.slug }}">
                <div class="latest" style="background-image: url({{ latest_article.miniature.url }})">
                    <div>
                        <div class="latest-tag">
                            Najnowszy artykuł
                        </div>
                        <div class="latest-title"><div>{{ latest_article.title }}</div></div>
                    </div>
                </div>
            </a>
            {% for article in articles|slice:"5" %}
            <a href="articles/{{ article.slug }}">
                <div class="new-article" style="background-image: url({{ article.miniature.url }})">
                    <div>
                        <div class="new-article-tag">
                            Example tag
                        </div>
                        <div class="new-article-title"><div>{{ article.title }}</div></div>
                    </div>
                </div>
            </a>
            {% endfor %}
        <a href="#">
                <div class="new-article" style="background-image: url('../media/soon.png')">
                    <div>
                        <div class="new-article-tag">
                            Example tag
                        </div>
                        <div class="new-article-title" style="display: none"><div></div></div>
                    </div>
                </div>
            </a>
                <a href="#">
                <div class="new-article" style="background-image: url('../media/soon.png')">
                    <div>
                        <div class="new-article-tag">
                            Example tag
                        </div>
                        <div class="new-article-title" style="display: none"><div></div></div>
                    </div>
                </div>
            </a>
                <a href="#">
                <div class="new-article" style="background-image: url('../media/soon.png')">
                    <div>
                        <div class="new-article-tag">
                            Example tag
                        </div>
                        <div class="new-article-title" style="display: none"><div></div></div>
                    </div>
                </div>
            </a>
                <a href="#">
                <div class="new-article" id="mobile-delete" style="background-image: url('../media/soon.png')">
                    <div>
                        <div class="new-article-tag">
                            Example tag
                        </div>
                        <div class="new-article-title" style="display: none"><div></div></div>
                    </div>
                </div>
            </a>

        </div></div>
        <!--<div class="warning">
            <img src="../media/logo_footer.png" alt="logo" class="logo">
            Przykro nam, ale urządzenie, na którym obecnie przeglądasz witrynę wobliczuzmian.pl, ma bardzo małą
            rozdzielczość. W trosce o twój wzrok zablokowaliśmy możliwość przeglądania strony w tak spartańskich
            warunkach.
        </div>-->
    <!--{% for ar in article %}
        {% for mTag in ar.main_tags.all %}
            {% if mTag.main_tag == 'Europa' %}
                JEBAC TOBIASZA PSA
            {% endif %}
        {% endfor %}
    {% endfor %}-->

	</body>
</html>
{% endblock %}