{% extends "base.html" %}
{% block content %}

<!DOCTYPE HTML>
<html lang="pl">
	<head>
		{% load compress static %}

        {% compress css %}
        <link type="text/x-scss" href="{% static 'scss/mainS.scss' %}" rel="stylesheet" media="screen">
        {% endcompress %}

        {% block head %}
        <meta property="og:title" content="W Obliczu Zmian">
        <meta property="og:image:url" content="https://wobliczu.pl/media/preview.png">
        <meta property="og:description" content="Serwis prognostyczno-analityczny gromadzący informacje z całego świata.">
        <meta property="og:url" content="https://wobliczu.pl">

        <meta name="twitter:title" content="W Obliczu Zmian">
        <meta name="twitter:description" content="Serwis prognostyczno-analityczny gromadzący informacje z całego świata.">
        <meta name="twitter:image" content="https://wobliczu.pl/media/preview.png">

        <title>W Obliczu Zmian</title>

        <meta name="description" content="Serwis informacyjny opisujący oraz analizujący to, co się dzieje na świecie">
        <meta name="url" content="https://wobliczu.pl">
        {% endblock %}
	</head>
	<body>

        <div class="box"><div>
            <a href="articles/{{ latest_article.slug }}">
                <div class="latest" style="background-image: url({{ latest_article.miniature.url }})">
                    <div>
                        <div class="latest-tag">
                            Najnowszy artykuł
                        </div>
                        <div class="latest-title"><div>{{ latest_article.title }}</div></div>
                    </div>
                </div>
            </a>
            {% for article in articles|slice:"5" %}
            <a href="articles/{{ article.slug }}">
                <div class="new-article" style="background-image: url({{ article.miniature.url }})">
                    <div>
                        <div class="new-article-tag">
                            Example tag
                        </div>
                        <div class="new-article-title"><div>{{ article.title }}</div></div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div></div>
        <!--<div class="warning">
            <img src="../media/logo_footer.png" alt="logo" class="logo">
            Przykro nam, ale urządzenie, na którym obecnie przeglądasz witrynę wobliczuzmian.pl, ma bardzo małą
            rozdzielczość. W trosce o twój wzrok zablokowaliśmy możliwość przeglądania strony w tak spartańskich
            warunkach.
        </div>-->
    <!--{% for ar in article %}
        {% for mTag in ar.main_tags.all %}
            {% if mTag.main_tag == 'Europa' %}
                JEBAC TOBIASZA PSA
            {% endif %}
        {% endfor %}
    {% endfor %}-->

	</body>
</html>
{% endblock %}