{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load compress static %}

    {% compress css %}
    <link type="text/x-scss" href="{% static 'scss/search.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

    <!-- Open Graph Protocol settings -->
    <meta property="og:title" content="W Obliczu Zmian">
    <meta property="og:image" content="../../media/preview.png">
    <meta property="og:description" content="Wyszukaj artykuł.">

</head>
<body>
<form method="post">
{% csrf_token %}
<div class="container">
<ul class="tags">
<div class="tags-main-container">
    <h2>Obszar geograficzny</h2>
    {%  for mTag in mainTags %}
        <li><input type="checkbox" id="{{ mTag.main_tag }}" value="{{ mTag.main_tag }}" name="{{ mTag.main_tag }}">
        <label for="{{ mTag.main_tag }}">{{ mTag.main_tag }}</label></li>
    {% endfor %}
</div>
<div class="tags-break"></div>
<div class="tags-secondary-container">
    <h2>Kategorie</h2>
    {%  for sTag in secondaryTags %}
        <li><input type="checkbox" id="{{ sTag.secondary_tag }}" value="{{ sTag.secondary_tag }}" name="{{ sTag.secondary_tag }}">
        <label for="{{ sTag.secondary_tag }}">{{ sTag.secondary_tag }}</label></li>
    {% endfor %}
</div>
</ul>
{% if errors %}
    {% for error in errors %}
        <h2>{{ error }}</h2>
    {% endfor %}
{% endif %}
<button type="submit" class="tags-button">Szukaj</button>
</div>
</form>
</body>
</html>

{% endblock %}

