{% extends "base.html" %}
{% block content %}
    {% block head %}
    <title>W Obliczu Zmian</title>

    <meta name="robots" content="none" />

    {% load compress static %}

    {% compress css %}
    <link type="text/x-scss" href="{% static 'scss/article_list.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    {% endblock %}
<div class="container">
{% if obj %}
<h2 class="searchH2">Artykuły zawierające każdy z pożądanych tagów:</h2>
{% for article in obj %}
    <a href="../../articles/{{ article.slug }}" class="article">
            <div class="article-img" style="background-image: url('{{ article.main_image.url }}')"><div></div></div>
            <div class="article-txt">
                <div class="article-tag">
                    {% for tag in article.secondary_tags.all %}
                        {{ tag }}
                    {% endfor %}
                </div>
                <div class="article-title">{{ article.title }}</div>
                <div class="article-short-desc">{{ article.short_desc }}</div>
            </div>
            <div class="article-txt-bottom">
                <hr>
                <div class="article-date" style="float: left">{{ article.pub_date }}<br>{{ article.views }} odsłon</div>
            </div>
        </a>
    <hr>
{% endfor %}
{% endif %}
{% if not obj and rest %}
    <div class="searchH2">Przykro nam, lecz nie znaleźliśmy artykułów zawierających każdy z wymaganych tagów.<br>Zapraszamy do sprawdzenia podobnych poniżej!<br></div>
{% endif %}
{% if not obj and not rest %}
    <div class="searchH2">Przykro nam, lecz nie znaleźliśmy artykułów związanych z wybranymi tagami.</div>
{% endif %}
{% if rest %}
    <div class="searchH2">Artykuły powiązane z conajmniej jednym z tagów:</div>
{% for article in rest %}
    {% if article not in obj %}
    <a href="../../articles/{{ article.slug }}" class="article">
            <div class="article-img" style="background-image: url('{{ article.main_image.url }}')"><div></div></div>
            <div class="article-txt">
                <div class="article-tag">
                    {% for tag in article.secondary_tags.all %}
                        {{ tag }}
                    {% endfor %}
                </div>
                <div class="article-title">{{ article.title }}</div>
                <div class="article-short-desc">{{ article.short_desc }}</div>
            </div>
            <div class="article-txt-bottom">
                <hr>
                <div class="article-date" style="float: left">{{ article.pub_date }}<br>{{ article.views }} odsłon</div>
            </div>
        </a>
        <hr>
    {% endif %}
{% endfor %}
{% endif %}
</div>
{% endblock %}