@import "variables.scss";

@media only screen and (max-width: 1250px) {
  .wrapper.wrapper {
    .container {
      width: 1000px;
    }

    .title, .author-date, .short-desc, .content,
    .title-line, .main-img {
      width: 900px;
    }
  }
}

/*
@media only screen and (max-width: 1000px) {
  .wrapper.wrapper {
    .container, .comment {
      width: 900px;
    }

    .title, .author-date, .short-desc, .content,
    .title-line, .main-img {
      width: 800px;
    }

    .comment-add {
      width: 850px;
    }

    .comment-box, .comment-header {
      width: 660px;
    }

    .comment-content {
      width: 610px;
    }

    .comment-line, .replies {
      width: 700px;
    }

    .replies-add, .repliesBox, .replies-line, .replies-add-footer {
      width: 600px;
    }

    .replies-box, .replies-header {
      width: 560px;
    }

    .replies-add-content {
      width: 550px;
    }

    .replies-content {
      width: 510px;
    }
  }
}
*/

@media only screen and (max-width: 980px) {
  .base-body.base-body {
    background: #fff;
  }

  .notification.notification, .error.error {
    padding: calc(20vw / 9.8) 0;
    font-size: 2em;
    height: auto;
  }

  /* Width for mobile devices */

  .title.title.title {
    font-size: calc(50vw / 9.8);
  }

  .wrapper.wrapper {
    .container {
      width: calc(940vw / 9.8);
      margin: calc(20vw / 9.8);
      padding: 0;

      img {
        width: 97%;
      }
    }

    .title, .author-date, .short-desc, .content,
    .title-line, .main-img {
      width: 100%;
    }
  }

  .base-body.base-body {
    background: #fff;
  }

  .wrapper.wrapper {
    .title, .short-desc, .content {
      color: #000;
    }

    .short-desc, .author-date {
      font-size: 24px;
    }

    .author-date {
      color: $base-color;
      margin: 0;
    }

    .title {
      margin-bottom: calc(20vw / 9.8);
    }

    .title-line {
      margin: calc(20vw / 9.8) auto;
      border-color: $base-color;
      border-width: 1px 0 0 0;
    }

    .short-desc {
      margin-bottom: 20px;
    }

    .main-img {
      @include inside-box();
      border: $white-line;
      margin: 0 auto;
    }

    .content {
      font-size: 26px;

      > p, li, ol, span {
        font-size: calc(38vw / 9.8) !important;
        text-align: left !important;
        line-height: calc(1em + 4px);
      }

      blockquote {
        padding: 1px 0;

        p {
          margin: calc(14vw / 9.8) 0;
        }
      }

      a {
        color: #00aeff;

        &:visited {
          color: #9744ff;
        }
      }
    }

    .comment-box-header, .reply-box-header {
      height: auto;
      flex-wrap: wrap;

      p, smart, .pause {
        order: 1;
      }

      .header-tag {
        order: 2;
        width: 100%;
        margin-top: calc(5vw / 9.8);
      }
    }

    .comment-add-footer button, .reply-add-footer button {
      font-size: 40px;
    }

    .comment {
      width: 100vw;
      h2 {
        font-size: 50px;
      }

      &-add {
        width: 100vw;
        height: auto;

        &-label {
          font-size: 40px;
          height: auto;
          display: block;
          position: relative;
          width: calc(940vw / 9.8);
        }

        &-username, &-content {
          font-size: 40px;
          width: 100%;
        }

        &-username {
          height: calc(1em + 8px);
        }

        &-line {
          height: 2px;
          margin: 4px 0;
          width: 100%;
        }
      }

      &-all {
        width: calc(960vw / 9.8);
      }

      &-box {
        width: calc(900vw / 9.8);

        &-header {
          font-size: 40px;
          .pause {
            margin-top: calc(6vw / -9.8);
          }
        }

        &-content {
          font-size: 38px;
        }

        .replies-button {
          font-size: 35px;
          margin-top: calc(10vw / 9.8);
        }
      }
    }

    .reply {
      &, &-all {
        width: calc(900vw / 9.8);
        margin: 0 auto;
      }

      & {
        @include flex(column, flex-start, flex-start);
      }

      &-add {
        &-nick, &-content, &-label {
          width: calc(860vw / 9.8);
          font-size: 40px;
        }
      }

      &-box {
        width: calc(840vw / 9.8);
        &-header {
          font-size: 36px;

          .pause {
            margin-top: calc(4vw / -9.8);
          }
        }

        &-content {
          font-size: 34px;
        }
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .title.title.title {
    font-size: calc(70vw / 9.8);
  }

  .comment.comment.comment {
    > h2 {
      font-size: calc(50vw / 7.6);
    }

    .comment-box-header, .reply-box-header {
      p, .header-tag {
        font-size: calc(40vw / 7.6);
      }

      smart, .pause {
        font-size: calc(36vw / 7.6);
      }

      p, .header-tag, smart, .pause {
        height: auto;
      }
    }

    .comment-box-content, .reply-box-content {
      font-size: calc(38vw / 7.6);
    }

    .replies-button.replies-button, .icon-reply::before {
      font-size: calc(35vw / 7.6);
    }

    .comment-add, .reply-add {
      h2 {
        font-size: calc(50vw / 7.6);
      }

      &-label, .reply-add-nick, .comment-add-username, &-content, button {
        font-size: calc(40vw / 7.6);
      }

      button {
        padding: calc(18vw / 7.6) calc(30vw / 7.6);
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .title.title.title {
    font-size: calc(40vw / 5);
  }

  .author-date.author-date.author-date, .short-desc.short-desc.short-desc {
    font-size: calc(24vw / 5);
  }

  .short-desc.short-desc.short-desc {
    line-height: calc(1em + 5px);
  }

  .comment-all.comment-all {
    width: 100vw;
  }

  .reply-all.reply-all {
    float: right;
  }

  .profile.profile.profile {
    @include flex(column, flex-start, center);
    width: calc(60vw / 5);
    margin: 0;
    padding: 0;
    height: auto;

    .icon-user-2.icon-user-2.icon-user-2 {
      margin-right: calc(5vw / 5);
      width: calc(50vw / 5);
      height: calc(50vw / 5);
      padding: 0;

      &::before {
        width: calc(32vw / 5);
        height: calc(32vw / 5);
        font-size: calc(32vw / 5);
        margin: 0;
      }
    }
  }
}

.comment-box-header, .reply-box-header {
  p {
    margin: 0;
  }

  p, smart, .header-tag {
    height: 1em;
  }
}

.container {
  width: 1250px;
  margin: 0 auto;
  padding: 30px 0;
  font-family: $main-font;
  @include flex(column, flex-start, center);

  .title, .author-date, .short-desc, .content, .title-line, .main-img {
    width: 1000px;
  }

  .title, .short-desc, .content, .title-line {
    color: $base-color;
  }

  .title, .short-desc, .main-img {
    margin-bottom: 30px;
  }

  .title, .short-desc, .content {
    word-wrap: break-word;
  }

  .author-date, .title-line {
    margin-bottom: 20px;
  }

  .main-img {
    margin-top: 30px;
  }

  .title {
    font-size: 50px;
    font-weight: 600;
  }

  .author-date {
    font-size: 18px;
    color: #444;
  }

  .short-desc {
    line-height: 30px;
    font-weight: 600;
    font-size: 18px;
    word-spacing: 2px;
  }

  .content {
    word-spacing: 2px;
    font-size: 20px;
    line-height: 30px;

    blockquote {
      background: #fafafa;
      border-left: 10px solid #ddd;

      > p {
        font-family: 'Crimson Text', serif;
        padding: 0 10px;
        font-style: italic;
        content: open-quote;
      }
    }

    > p {
      width: 100%;

      * {
        width: 100%;
      }
    }

    img {
      width: 90% !important;
      height: auto !important;
      margin: 0 5%;
      vertical-align: baseline;
      position: relative;
    }
  }
}

.comment-line, .reply-line {
  margin: 0;
  width: 100%;
  height: 25px;
}

.comment {
  width: 800px;
  margin: 0 auto;
  @include flex(column, flex-start, center);

  h2 {
    color: $base-color;
  }

  #{&}-add {
    width: 100%;
    @include flex(column, flex-start, center);
    margin-bottom: 20px;

    &-username, &-content {
      width: calc(30em + 8px);
    }

    &-content {
      height: calc(10em + 8px);
    }

    &-label:hover {
      cursor: text;
    }

    &-label-div {
      color: #bbb;
      margin-bottom: 10px;
    }

    &-footer {
      width: 100%;
      @include flex(column, flex-start, center);
    }
  }

  #{&}-all {
    width: 800px;
    @include flex(row, flex-start, flex-start);

    .profile {
      width: 50px;
      margin: 0;
      padding: 0 5px;
      height: 100%;

      .icon-user-2 {
        margin-right: 10px;
      }

      .trash-button {
        margin-right: 10px;
      }
    }
  }

  #{&}-box {
    width: 728px;
    padding-left: 10px;
    margin-left: auto;
    border-left: 2px solid $base-color;
    @include flex(column, flex-start, flex-start);

    &-header, &-content {
      width: 100%;
    }

    &-header {
      @include flex(row, flex-start, center);
      font-size: 22px;
      font-weight: 600;
      color: $base-color;
      height: 1em;
      margin-bottom: 15px;
      margin-top: 7px;

      .header-tag {
        font-size: calc(100% - 4px);
        color: #666;
      }

      smart, .pause {
        font-size: 80%;
        font-weight: 500;
        color: #bbb;
      }

      .pause {
        margin-top: -4px;
      }
    }

    &-content {
      font-size: 20px;
      color: $base-color;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
      margin-bottom: 15px;
      letter-spacing: 0.05em;
    }

    .replies-button {
      color: $base-color;
      background: transparent;
      border: none;
      outline: none;
      font-size: 18px;
      padding: 0 0 5px 0;
      @include inside-box();

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid $base-color;
        margin-bottom: -2px;
      }
    }
  }
}

.comment-box-content, .reply-box-content {
  word-break: break-word;
}

.reply {
  margin-left: 60px;
  width: 740px;
  @include flex(column, flex-start, center);

  #{&}-all {
    width: 740px;
    @include flex(row, flex-start, flex-start);

    .profile {
      width: 50px;
      margin: 0;
      padding: 0 5px;
      height: 100%;

      .icon-user-2 {
        @include flex(column, center, center);
        font-size: 22px;
        line-height: 22px;
        padding: 2px 0;
        width: 40px;
        height: 36px;
        border-radius: 50%;
        background: $base-color;
        color: #fff;
      }
    }

    .trash-button {
      margin-top: 5px;
      height: 30px;
      box-shadow: none;
    }
  }

  #{&}-box {
    width: 680px;
    padding-left: 10px;
    @include inside-box();
    border-left: 2px solid $base-color;

    &-header, &-content {
      width: 100%;
    }

    &-header {
      @include flex(row, flex-start, center);
      height: 1em;
      margin: 7px 0 15px 0;
      font-size: 20px;
      font-weight: 600;

      .header-tag {
        font-size: calc(100% - 4px);
        color: #666;
      }

      smart, .pause {
        font-size: 80%;
        font-weight: 500;
        color: #bbb;
      }

      .pause {
        margin-top: -2px;
      }

      div {
        display: inline;
      }
    }

    &-content {
      margin-bottom: 15px;
      font-size: 18px;
    }
  }

  #{&}-add {
    width: 100%;
    @include flex(column, flex-start, center);

    &-label, &-label-div {
      width: auto;
    }

    &-nick, &-content {
      width: calc(30em + 8px);
    }

    &-label {
      &:hover {
        cursor: text;
      }

      &-div {
        color: #bbb;
        margin-bottom: 10px;
      }
    }

    &-content {
      height: calc(5em + 8px);
    }

    &-line {
      width: 100%;
      margin: 0;
      height: 10px;
    }

    &-footer {
      width: 100%;
      @include flex(column, flex-start, center);
    }
  }
}

.comment-add-footer button, .reply-add-footer button {
  font-size: 20px;
  font-weight: 600;
  padding: 18px 30px;
  @include inside-box();
  background: $base-color;
  color: #fff;
  border: none;
  outline: none;
  margin-top: 10px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

textarea {
  font-family: $main-font;
  font-size: 20px;
  color: $base-color;
  border-style: solid;
  border-color: #bbb;
  border-width: 0 0 1px 0;
  outline: none;
  resize: none;
  @include inside-box();
  transition: border-color 300ms;

  &:focus {
    border-color: $base-color;
  }

  &[name="username"] {
    height: calc(1em + 8px);
  }

  &[name="content"] {
    line-height: 1em;
  }
}

.error, .notification {
  width: 100%;
  height: 3vw;
  text-align: center;
  line-height: 2.9vw;
  font-size: 1.2em;
  background-color: $base-color;
  border-top: 2px solid #fff;
}

.notification {
  color: #fff;
}

.error {
  color: #fd5858;
}

.profile {
  @include flex(column, flex-start, center);
  position: relative;

  .icon-user-2 {
    @include flex(column, center, center);
    font-size: 32px;
    line-height: 32px;
    padding: 2px 0;
    width: 50px;
    height: 46px;
    border-radius: 50%;
    background: $base-color;
    color: #fff;
  }

  .trash-button {
    margin-top: 10px;
    width: 40px;
    text-indent: 0;
    height: 40px;
    background: linear-gradient(to bottom, #464646 0%, #313131 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #161616;
    color: #fbfbfb;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    font-size: 15px;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    outline: none;

    &:hover {
      cursor: pointer;
    }

    &:active {
      box-shadow: 0 2px 0 0 rgba(0, 0, 0, .2);
      top: 1px;
      outline: none;
    }

    &:after {
      display: none;
      outline: none;
    }
  }
}

.header-tag {
  display: inline;
  line-height: 1em;
  color: $base-color;
}

.pause {
  display: inline;
  height: 1em;
  font-weight: 500;
}