@import "variables.scss";

@media only screen and (max-width: 1250px) {
  .container {
    &#{&} {
      width: 1080px;
      padding: 8px 0 8px 0;
    }
  }

  .article {
    &-txt#{&}-txt, &-tag#{&}-tag, &-title#{&}-title, &-short-desc#{&}-short-desc, &-txt-bottom#{&}-txt-bottom, &-date#{&}-date {
      width: 536px;
    }

    &#{&} {
      width: 1040px;
    }

    &-txt#{&}-txt, &-title#{&}-title, &-short-desc#{&}-short-desc {
      margin-bottom: 8px;
    }

    &-img#{&}-img {
      width: 455px;
      height: 331px;
      margin: 16px 0 16px 16px;

      > div {
        width: 455px;
        height: 331px;
      }
    }

    &-txt#{&}-txt {
      margin: 16px;
      height: 273px;
    }

    &-title#{&}-title {
      font-size: 27px;
    }

    .article-short-desc.article-short-desc.article-short-desc {
      font-size: 23px;
      $line-height: calc(1em + 4px);
      line-height: $line-height;
      height: calc(#{$line-height} * 8);
      -webkit-line-clamp: 8;
    }

    &-txt-bottom#{&}-txt-bottom {
      height: 41px;
      margin: 0 16px 16px 16px;

      > hr {
        margin-bottom: 7px;
      }
    }

    &-short-desc#{&}-short-desc {
      -webkit-line-clamp: 6; /* Number of lines displayed before it truncate */
    }
  }

  .pagination {
    &#{&} {
      width: 1040px;
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 1080px) {
  .container.container {
    width: 980px;
    padding: 7px 0;
  }

  .article {
    &#{&} {
      width: 940px;
    }

    &-txt#{&}-txt, &-tag#{&}-tag, &-title#{&}-title, &-short-desc#{&}-short-desc, &-txt-bottom#{&}-txt-bottom,
    &-date#{&}-date, &-img#{&}-img {
      width: 450px;
    }

    &-img#{&}-img {
      height: 281px;
      margin: 12px 0 12px 12px;

      > div {
        width: 450px;
        height: 281px;
      }
    }

    &-txt#{&}-txt {
      height: 233px;
      margin: 14px 14px 8px 14px;
    }

    &-tag#{&}-tag {
      font-size: 20px;
    }

    &-title#{&}-title {
      font-size: 35px;
      margin-bottom: 8px;
    }

    .article-short-desc.article-short-desc.article-short-desc {
      $line-height: calc(1em + 4px);
      line-height: $line-height;
      height: calc(#{$line-height} * 6);
      -webkit-line-clamp: 6;
    }

    &-txt-bottom#{&}-txt-bottom {
      height: 35px;
      margin: 0 14px 14px 14px;

      hr {
        margin: 4px 0 3px 0;
      }
    }

    &-date#{&}-date {
      margin-top: 4px;
      height: calc(1em + 4px);
    }

    &-edit#{&}-edit, &-delete#{&}-delete {
      font-size: 16px;
      padding: 3px 3px 3px 0;
      border-width: 2px;
    }
  }

  .pagination.pagination {
    width: 889px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 980px) {
  .wrapper.wrapper {
    .container, .article {
      width: 100vw;
      padding: 0;
      @include inside-box();
    }

    .container > hr {
      width: calc(100vw - calc(30vw / 9.8));
    }

    .article {
      padding: calc(15vw / 9.8) calc(15vw / 9.8) 0 calc(15vw / 9.8);
      @include flex(column, flex-start, flex-start);

      &-img {
        order: 1;
      }

      &-txt {
        order: 3;

        &-bottom {
          order: 2;
        }
      }

      &, &-date, &-img, &-img > div, &-title {
        margin: 0;
      }

      &-tag, &-txt-bottom hr {
        display: none;
      }

      &-img, &-img > div {
        padding: 0;
        border-width: 0;
        $width: calc(950vw / 9.8);
        width: $width;
        height: calc(#{$width} / 8 * 5);
      }

      &-img {
        @include inside-box();
        border: calc(1vw / 9.8) solid #fff;
      }

      &-txt, &-title, &-txt-bottom, &-date {
        width: calc(950vw / 9.8);
        height: auto;
      }

      &-txt, &-txt-bottom, &-short-desc {
        margin: calc(10vw / 9.8) 0 0 0;
      }

      &-title {
        display: block;
        font-size: calc(38vw / 9.8);
        @include line-clamp(1);
      }

      .article-short-desc.article-short-desc.article-short-desc {
        width: 100%;
        font-size: calc(34vw / 9.8);
        $line-height: calc(1em + calc(8vw / 9.8));
        line-height: $line-height;
        height: auto;
        -webkit-line-clamp: 3;
      }

      &-date {
        text-align: left;
        font-size: calc(34vw / 9.8);
      }
    }
  }

  .container.container {
    .searchH2 {
      color: #fff;
      width: calc(869vw / 9.8);
    }

    > hr {
      display: block;
      color: #fff;
      width: 85%;
      border-width: 0 0 calc(1vw / 9.8) 0;
      margin: calc(23vw / 9.8) 0;
      padding: 0;
      &:last-child{
        display: none;
      }
    }
  }

  .pagination.pagination, .pagination.pagination * {
    display: none;
  }

  .pagination-mobile.pagination-mobile {
    display: block;
    border-color: #fff transparent;
    padding: calc(30vw / 9.8) 0;
    margin: 0;
    background: $base-color;
    color: #fff;
    font-size: calc(80vw / 9.8);

    &, .step-links {
      @include flex(row, center, center);
      width: 100%;
    }

    a {
      font-weight: 600;
      transition: color 400ms,
      background 400ms;
      padding: 0;
      margin: 0 calc(20vw / 9.8);
      text-decoration: none;
      color: #fff;
      font-size: calc(40vw / 9.8);

      .icon-angle {
        &-left, &-double-left, &-right, &-double-right {
          width: auto;

          &::before {
            margin: 0;
          }
        }
      }
    }

    .current {
      font-size: calc(40vw / 9.8);
      text-align: center;
      background: #fff;
      color: $base-color;
      font-weight: 600;
      padding: calc(20vw / 9.8);
      margin: 0 calc(20vw / 9.8);
      display: inline-block;
    }
  }

  .searchH2.searchH2 {
    font-size: calc(36vw / 9.8);
    margin: calc(10vw / 9.8) 0;
  }
}

.container {
  width: 1250px;
  margin: 0 auto;
  @include flex(column, flex-start, center);
  font-family: $main-font;
  word-wrap: break-word;
  padding: 10px 0;
  @include container-shadowbox();

  > hr {
    display: none;
  }
}

.searchH2 {
  font-size: 25px;
  margin: 10px 0;
  padding: 0;
  font-family: $main-font;
  font-weight: 600;
  text-align: center;
}

.article {
  display: block;
  width: 1210px;
  background: $base-color;
  padding: 0;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  transition: color 300ms,
  border-color 300ms;

  &-img, &-txt, &-tag, &-title, &-short-desc, &-txt-bottom, &-date {
    float: left;
  }

  &-txt, &-tag, &-title, &-short-desc, &-txt-bottom, &-date {
    width: 600px;
  }

  &-tag &-title {
    margin-bottom: 10px;
  }

  &-img {
    width: 550px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px 0 20px 20px;

    > div {
      transition: background 300ms;
      width: 550px;
      height: 400px;
      display: flex;
    }
  }

  &-delete{
    @include inside-box();
    border: $white-line;
    color: #fff;
    background: $base-color;
    font-size: 15px;
    padding: 3px 3px 3px 0;
    font-weight: 600;
    transition: color 300ms,
    border-color 300ms;

    &:hover {
      color: #f00;
      border-color: #f00;
      cursor: pointer;
    }
  }

  :hover > &-img > div {
    background: $hover-shadow;
  }

  &-txt {
    height: 350px;
    margin: 20px 20px 0 20px;
  }

  &-tag {
    height: 27px;
    font-size: 16px;
    font-weight: 600;
    @include flex(row, space-between, flex-start);
  }

  &-edit {
    font-size: 15px;
    font-weight: 600;
    outline: none;
    border: none;
    background: none;
    color: #fff;
    @include inside-box();
    border: $white-line;
    padding: 3px 3px 3px 0;
    transition: color 300ms,
    border-color 300ms;

    &:hover {
      cursor: pointer;
      color: #ffd500;
      border-color: #ffd500;
    }
  }

  &-title {
    font-size: 32px;
    $line-height: calc(1em + 2px);
    font-weight: 600;
    line-height: $line-height;
    height: $line-height;
    @include line-clamp(1);
    margin-bottom: 10px;
  }

  &-short-desc {
    font-size: 26px;
    $line-height: calc(1em + 4px);
    line-height: $line-height;
    height: calc(#{$line-height} * 9);
    word-spacing: 2px;
    text-align: left;
    word-break: break-word;
    white-space: normal;
    @include line-clamp(9);
  }

  &-txt-bottom {
    height: 50px;
    margin: 0 20px 20px 20px;

    > hr {
      margin-bottom: 9px;
    }
  }

  &-date {
    text-align: right;
    font-size: 21px;
  }
}

.pagination {
  width: 1240px;
  padding: 11px 0 11px 0;
  margin: 20px auto 20px auto;
  @include flex(row, center, center);
  font-size: 20px;
  background: none;
  border-top: 1px solid $base-color;
  border-bottom: 1px solid $base-color;

  a {
    font-weight: 600;
    color: $base-color;
    transition: color 400ms,
    background 400ms;
    padding: 10px;
    margin: 0;
    text-decoration: none;

    &:hover {
      color: #fff;
      background: $base-color;
    }
  }

  .current {
    background: $base-color;
    padding: 10px;
    margin: 0;
    display: inline-block;
    color: #fff;
  }

  &-mobile {
    display: none;
  }
}