@import "variables.scss";

* {
  word-break: break-word;
}

html {
  box-sizing: border-box;
}

/* Mobile phone version */

@media only screen and (max-width: 980px) {
  .base-body.base-body {
    background: $base-color;

    .banner {
      padding: calc(35vw / 9.8) 0 calc(40vw / 9.8) 0;
      width: 100vw;
    }

    .logo {
      width: calc(760vw / 9.8);
      height: auto;
    }

    .menu {
      width: 100vw;
      height: auto;
      min-height: 0;
      border-bottom: $white-line;

      > a {
        margin: 0 calc(20vw / 9.8);
        height: auto;
        border-bottom: none;
      }

      &-button {
        @include flex(row, center, center);
        padding: calc(20vw / 9.8) calc(5vw / 9.8);
        font-size: calc(36vw / 9.8);
        height: auto;

        > i {
          margin-right: calc(12vw / 9.8);
        }

        .icon {
          &-doc-text-inv, &-search {
            font-size: calc(37vw / 9.8);
          }

          &-home {
            font-size: calc(43vw / 9.8);
          }
        }
      }
    }

    .footer {
      height: calc(130vw / 9.8);
      border-top: $white-line;

      > a {
        &:first-of-type {
          margin-left: calc(60vw / 9.8);
        }

        &:last-of-type {
          margin-right: calc(60vw / 9.8);
        }
      }

      &-logo, &-contact {
        width: calc(300vw / 9.8);
      }

      .icon-facebook-squared {
        font-size: calc(60vw / 9.8);
      }
    }
  }
}

/* Common values */

html, body, header, .banner, nav, main, footer {
  width: 100vw;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Sticky footer settings */

body {
  @include flex(column, flex-start, flex-start);
}

.wrapper {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

body::-webkit-scrollbar-thumb, .banner, nav, footer {
  background: $base-color;
}

a, .logo, .footer-logo, .menu-button {
  &:hover {
    cursor: pointer;
  }
}

/* Html, body and hyperlinks style */

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: $main-font;

  &::-webkit-scrollbar {
    width: 5px;
    background: #fff;

    &-thumb {
      outline: none;
    }

    &-track {
      background: transparent;
    }
  }
}

a {
  text-decoration: none;
}

/* Header style */

.banner {
    padding: 20px 0;

    .logo {
      display: block;
      width: 600px;
      height: auto;
      margin: 0 auto 0 auto;
    }
  }

.menu {
  @include flex(row, center, flex-start);
  flex-wrap: wrap;
  border-top: $white-line;
  height: 74px;
  $menu: &;

  > a {
    padding: 0;
    height: 72px;
    margin: 0 30px;
    transition: border 300ms;

    &:hover {
      border-bottom: 2px solid $menu-hover-color;
    }

    &:active {
      border-bottom: 2px solid $menu-active-color;
    }

    #{$menu}-button {
      margin: 0;
      padding: 0 6px 0 0;
      display: block;
      border: none;
      outline: none;
      background: none;
      @include flex(row, center, center);
      font-weight: 500;
      font-size: 30px;
      height: 72px;
      color: #fff;
      transition: color 300ms;

      > i {
        margin-right: 6px;
      }

      &:hover {
        color: $menu-hover-color;
      }

      &:active {
        color: $menu-active-color;
      }

      .icon {
        &-home {
          font-size: 35px;
        }

        &-doc-text-inv{
          font-size: 27px;
        }

        &-search {
          font-size: 31px;
        }
      }
    }
  }
}

/* Footer style */

.footer {
  @include flex(row, space-around, center);
  height: 103px;
  padding: 0;
  clear: both;
  $footer: &;

  > a {
    @include flex(row, flex-start, center);
    height: 56px;

    &:first-of-type {
      margin-left: 40px;
    }

    &:last-of-type {
      margin-right: 40px;
    }

    #{$footer}-contact, #{$footer}-logo {
      width: 250px;
      height: auto;
    }
  }

  #{&}-social-media {
    @include flex(row, flex-start, center);

    > a {
      color: #fff;
      transition: 300ms;

      > .icon-facebook-squared {
        font-size: 40px;
      }

      &:hover {
        color: $fb-blue;
      }
    }
  }
}