@import "variables.scss";

/* Mobile phone version */

@media only screen and (max-width: 1250px) {
  .menu-bottom.menu-bottom {
    padding: 15px calc((100% - 1050px) / 2);
  }

  .footer.footer {
    padding: 15px calc((100vw - 1050px) / 2);
  }
}

@media only screen and (max-width: 1080px) {
  .menu-bottom.menu-bottom {
    padding: 15px calc((100% - 950px) / 2);
  }

  .footer.footer {
    padding: 15px calc((100vw - 950px) / 2);
  }
}

@media only screen and (max-width: 980px) {
  .base-body.base-body {
      background: $base-color;

    header {
      border-bottom: 1px solid #fff;
    }

    .menu {
      &-top {
        padding: calc(20vw / 9.8) 0;

        > a {
          height: calc(100vw / 9.8);
        }
      }

      &-button {
        font-size: calc(34vw / 9.8);
        padding: calc(5vw / 9.8) 0;
      }

      &-bottom {
        font-size: calc(34vw / 9.8);
        padding: calc(15vw / 9.8) calc((100% - calc(920vw / 9.8)) / 2);
        height: calc(1.1em + calc(45vw / 9.8));

        a {
          margin: 0 calc(15vw / 9.8);

          &:first-child {
            margin-left: 0;
          }
        }

        &-icons {
          i::after {
            animation: none;
          }

          i::before {
            margin: 0;
          }

          .icon-search {
            margin-right: calc(10vw / 9.8);
          }
        }
      }
    }

    .footer {
      &-desktop, &-desktop * {
        display: none;
      }

      &-mobile {
        box-sizing: border-box;
        height: auto;
        padding: calc(20vw / 9.8);
        border-top: 1px solid #fff;
        @include flex(row, space-around, center);

        & * {
          display: block;
        }

        a {
          outline: none;
        }

        > a, img {
          width: calc(300vw / 9.8);
          height: auto;
          margin: 0;
        }
      }

      &-social-media {
        font-size: calc(50vw / 9.8);
        width: calc(1em + 6.4px);

        > a {
          color: #fff;
          transition: color 300ms;

          &:active {
            color: $fb-blue;
          }
        }
      }
    }
  }
}

* {
  word-break: break-word;
}

html, nav {
  @include inside-box();
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* Common values */

html, body, header, main, footer {
  width: 100vw;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Sticky footer settings */

body {
  @include flex(column, flex-start, flex-start);
}

.wrapper {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

body::-webkit-scrollbar-thumb, header, footer {
  background: $base-color;
}

* a:hover {
  cursor: pointer;
}

/* Html, body and hyperlinks style */

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: $main-font;

  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;

    &-thumb {
      outline: none;
    }

    &-track, &-track-piece {
      background: transparent;
    }
  }
}

a {
  text-decoration: none;
}

/* Header style */

header {
  @include flex(column, flex-start, center);
}

.menu {
  width: 100%;
  $menu: &;
  flex-wrap: wrap;
  @include inside-box();
  $font-size: 28px;
  font-size: $font-size;

  &-top {
    @include flex(row, center, center);
    border-bottom: 1px solid #fff;
    padding: 15px 0;
    height: auto;

    #{$menu}-logo {
      height: 100%;
      width: auto;
      padding: 0;
    }

    > a {
      display: block;
      height: 80px;
    }
  }

  &-bottom {
    @include flex(row, space-between, flex-start);
    padding: 15px calc((100% - 1220px) / 2);
    height: calc(1.1em + 40px);

    a {
      height: auto;

      #{$menu}-button {
        @include flex(row, center, center);
        padding: 5px 0;
        font-size: $font-size;
        line-height: 1.1em;
        height: 1.1em;
        display: block;
        border: none;
        outline: none;
        background: transparent;
        font-weight: 500;
        color: #fff;
      }
    }

    > div {
      @include flex(row, flex-start, flex-start);
    }

    &-buttons {
      a {
        margin: 0 15px;
        padding: 0;

        &:after {
          content: '';
          display: block;
          border-bottom: $white-line;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
        }

        &:hover:after {
          transform: scaleX(1);
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }

    &-icons {
      i {
        &::before {
          margin: 0 8px 0 0;
        }
      }

      .icon-search {
        margin-right: 10px;
        width: 1em;

        &::after {
          content: '';
          font-style: normal;
          display: inline-block;
        }

        &:hover::after {
          animation: search-button-show 240ms forwards linear;
        }
      }

      .icon-user-3 {
        &::after {
          content: '';
          font-style: normal;
          display: inline-block;
        }

        &:hover::after {
          animation: admin-button-show 200ms forwards linear;
        }
      }
    }

    a {
      height: 1.1em;
    }
  }
}

/* Footer style */

.footer {
  clear: both;
  color: #fff;
  background: $base-color;

  &-mobile {
    &, & * {
      display: none;
    }
  }

  &-desktop {
    @include inside-box();
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    padding: 15px calc((100vw - 1220px) / 2);
    font-size: 20px;
    line-height: 1em;
    font-family: $main-font;

    a {
      color: #fff;
    }

    h2 {
      margin: 0;
      font-size: 20px;
    }

    nav {
      @include flex(row, flex-start, center);
      flex-wrap: wrap;

      a i {
        transition: background 400ms;
      }
    }

    nav:first-child {
      a > h2 {
        padding: 0 15px;
        border-right: $white-line;
        display: block;
      }

      a > h2 {
        transition: color 400ms;

        &:hover {
          color: #aaa;
          border-color: #fff;
        }
      }

      .icon-search {
        width: auto;
        font-size: 18px;

        &::before {
          margin: 0;
          padding-bottom: 5px;
        }
      }

      a:last-child > h2 {
        border-right: none;
      }
    }

    &-logo, &-logo > img {
      width: auto;
      height: 1.4em;
      flex-grow: 1;
      margin-right: 10px;
    }

    &-contact, &-contact > h2, &-about-us, &-about-us > h2 {
      width: auto;
      color: #fff;
      font-weight: 500;
    }

    nav:nth-child(2) a {
      color: #fff;
      margin: 0 0 0 10px;

      &, h2, i {
        height: 36px;
        width: 36px;
        @include flex(row, center, center);
      }

      i {
        border-radius: 50%;

        &::before {
          margin: 0;
        }
      }

      i {
        font-size: 24px;
      }

      .icon-instagram {
        z-index: 1;
        @include ig-gradient(background, to top);

        &::before {
          width: 40px;
          height: 40px;
          position: absolute;
          z-index: 2;
          background: $base-color;
          transition: background 400ms;
          margin: 0;
          @include flex(row, center, center);
        }
      }

      &:hover {
        .icon-facebook-squared {
          background: $fb-blue;
        }

        .icon-twitter {
          background: $twitter-blue;
        }

        .icon-instagram::before {
          background: transparent;
        }
      }
    }
  }
}