@import "variables.scss";

@media only screen and (max-width: 980px) {
  .box.box {
    width: 100%;
    color: #fff;
    font-size: 35px;
    text-align: center;
    padding-bottom: 30px;

    .info, h1, h2 {
      width: 100%;
      @include flex(row, center, center);
    }

    h1 {
      font-size: 80px;
    }

    > h2 {
      font-size: 70px;
      margin: 20px 0 5px 0;

      &:last-of-type {
        font-size: 55px;
      }
    }

    > a {
      color: #fff;
      width: 100%;

      &:hover, &:hover i {
        color: $fb-blue;
      }
    }

    .info {
      font-size: 50px;
    }

    .info > i {
      color: #fff;
    }

    .icon-gmail {
      margin-right: 20px;
    }

    .icon-police {
      width: auto;
      margin-right: 20px;

      &::before {
        margin: 0;
        width: auto;
      }
    }

    hr {
      border-width: 2px 0 0 0;
      border-color: #fff;
      width: 65%;
      margin: 20px auto 0 auto;
    }

    ul {
      li {
        @include flex(row, flex-start, center);
        height: 1em;
        font-size: 50px;
      }

      li:before {
        height: 1em;
        width: 50px;
        margin-right: 20px;
      }
    }

    .journalists li:before {
      background-image: url("../../media/list-style-images/pen-white.png");
    }

    .programmers li:before {
      background-image: url("../../media/list-style-images/code-white.png");
    }

    .support li:before {
      background-image: url("../../media/list-style-images/star-white.png");
    }
  }
}

.wrapper.wrapper {
  @include flex(column, flex-start, center);
}

.box {
  @include flex(column, flex-start, center);
  @include inside-box();
  width: auto;
  margin: 0;
  padding: 30px 20px;
  color: $base-color;
  font-size: 20px;

  > div {
    display: block;
  }

  > a, > a i {
    transition: color 300ms;
  }

  > a:hover, > a:hover i {
    color: $fb-blue;
  }

  .info > i {
    color: $base-color;
  }

  .icon-gmail {
    width: auto;

    &::before {
      margin: 0;
      width: auto;
    }
  }

  h1 {
    margin: 0;
    padding: 0;
  }

  h2 {
    margin: 20px 0 5px 0;
  }

  hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    border-style: solid;
    border-color: $base-color;
    border-width: 2px 0 0 0;
  }

  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;

    li {
      @include flex(row, flex-start, center);
      height: 22px;
    }

    li:before {
      content: '';
      display: inline-block;
      height: 22px;
      width: 22px;
      background-size: contain;
      margin-right: 10px;
      background-repeat: no-repeat;
    }
  }

  .journalists li:before {
    background-image: url("../../media/list-style-images/pen-gray.png");
  }

  .programmers li:before {
    background-image: url("../../media/list-style-images/code-gray.png");
  }

  .support li:before {
    background-image: url("../../media/list-style-images/star-gray.png");
  }

  a {
    text-decoration: none;
    color: $base-color;
  }
}