@import "variables.scss";

@media only screen and (max-width: 980px) {
  .box.box {
    font-size: calc(42vw / 9.8);
    width: calc(980vw / 9.8);
    margin: 0;
    padding: calc(15vw / 9.8);

    h1 , > div {
      padding: calc(15vw / 9.8) 0;
    }

    > div p:last-child {
      margin-top: calc(15vw / 9.8);
    }
  }
}

.wrapper {
  @include flex(row, center, center);
  background-image: url("../../media/city.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body::-webkit-scrollbar {
  display: none;
}

.footer {
  border-top: $white-line;
}

.box {
  $border-color: #202020;
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;
  width: 900px;
  height: auto;
  font-size: 28px;
  margin: 20px 0;

  h1 {
    @include inside-box();
    width: 100%;
    padding: 20px 0;
    @include flex(row, center, center);
    color: rgba(255, 255, 255, 0.9);
    line-height: 1em;
  }

  &-gmail, &-fb {
    width: 100%;
    padding: 15px;
    line-height: calc(1.2em);

    p:first-child {
      color: rgba(255, 255, 255, 0.9);
    }

    p:last-child {
      margin-top: 15px;
    }

    p:last-child, a {
      @include flex(row, center, center);
      height: 1.2em;
      color: rgba(255, 255, 255, 0.9);
    }
  }

  &-gmail{
    p:last-child {
      text-shadow: 0 0 3px $gmail-brown;
    }
  }

  &-fb a {
    outline: none;
    text-decoration: none;
    text-shadow: 0 0 3px $fb-blue;
    transition: text-shadow 500ms;
  }

  p {
    text-align: center;
  }
}