@import "variables.scss";

@media only screen and (max-width: 980px) {
  .wrapper.wrapper {
    form {
      min-height: 100%;


      .container {
        padding-bottom: 35px;

        h2 {
          color: #fff;
          font-size: 30px;
        }

        .tags {
          width: 100%;
          margin: 0;
          padding-top: 0;
          padding-bottom: 35px;

          &-main-container, &-secondary-container {
            width: 80%;

            > h2 {
              color: #fff;
              font-size: 42px;
              margin: 25px 0;
            }

            > li {
              margin-right: 16px;

              > label {
                font-size: 27px;
                font-weight: 600;
                color: rgba(22, 22, 22, 0.8);
                padding: 12px 16px;
              }

              input[type="checkbox"]:checked + label {
                border: 2px solid #525252;
                background-color: #2c2c2c;
                color: #fff;
              }

              input {
                width: 1px;
                height: 1px;
              }
            }
          }

          &-button {
            font-size: 37px;
            height: 80px;
            width: 200px;
            color: rgba(22, 22, 22, 0.8);
            background: #fff;
            border-bottom: 10px solid #ddd;
            border-radius: 10px;

            &:active {
              border: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 920px) {
  .wrapper.wrapper {
    form {
      .container {
        padding-bottom: calc(35vw / 9.2);

        h2 {
          margin: calc(25vw / 9.8) 0;
        }

        .tags {
          padding-bottom: calc(35vw / 9.2);
          padding-top: calc(10vw / 9.2);

          &-main-container, &-secondary-container {
            > h2 {
              @include flex(row, center, flex-start);
              color: #fff;
              font-size: calc(42vw / 9.2);
              margin: calc(20vw / 9.2) 0;
            }

            > li {
              margin-right: calc(16vw / 9.8);

              > label {
                font-size: calc(27vw / 9.2);
                font-weight: 600;
                color: rgba(22, 22, 22, 0.8);
                padding: calc(12vw / 9.2) calc(16vw / 9.2);
                border-width: calc(2vw / 9.2);
                border-radius: calc(25vw / 9.2);
              }

              input {
                margin: calc(3vw / 9.2) calc(3vw / 9.2) calc(3vw / 9.2) calc(4vw / 9.2);
              }

              input[type="checkbox"]:checked + label {
                border: 2px solid #525252;
                background-color: #2c2c2c;
                color: #fff;
              }
            }
          }

          &-button {
            font-size: calc(37vw / 9.2);
            height: calc(80vw / 9.2);
            width: calc(200vw / 9.2);
            color: rgba(22, 22, 22, 0.8);
            background: #fff;
            border-bottom: calc(10vw / 9.2) solid #ddd;
            border-radius: calc(10vw / 9.2);
            padding: calc(1vw / 9.2) calc(6vw / 9.2);

            &:active {
              border: none;
            }
          }
        }
      }
    }
  }
}

.container {
  font-size: 13px;
  text-align: center;

  h1, h2 {
    margin: 15px auto;
  }
}

.tags {
  list-style: none;
  padding: 33px 0;
  width: 450px;
  margin: 0 auto;

  &-main-container, &-secondary-container {
    @include flex(row, center, flex-start);
    flex-wrap: wrap;

    > li {
      display: inline;

      &:nth-child(4n+1) {
        margin-right: 24px;
      }

      label {
        display: inline-block;
        background-color: rgba(255, 255, 255, .9);
        border: 2px solid rgba(139, 139, 139, .3);
        color: #adadad;
        border-radius: 25px;
        white-space: nowrap;
        margin: 3px 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        transition: all .2s;
        padding: 8px 12px;
        cursor: pointer;
        outline: none;

        &::before {
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          font-weight: 900;
          font-size: 12px;
          padding: 2px 6px 2px 2px;
        }
      }

      input[type="checkbox"] {
        opacity: 0;

        &:checked + label {
          border: 2px solid #525252;
          background-color: #2c2c2c;
          color: #fff;
        }
      }
    }

    > h2 {
      width: 100%;
      font-size: 28px;
    }
  }

  &-main-container {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &-secondary-container {
    width: 450px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  &-break {
    border-bottom: 1px solid grey;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
  }

  &-button {
    display: inline-block;
    margin: 0 auto;
    width: 120px;
    height: 50px;
    font-size: 23px;

    border-top: none;
    border-left: none;
    border-right: none;
    background: $base-color;
    border-bottom: 7px solid #000;
    color: #fff;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
    outline: none;

    &:hover {
      cursor: pointer;
    }

    &:active {
      border: none;
      outline: none;
    }
  }
}