{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/articlesS.css" type="text/css">
</head>
<body>
<div class="container">
{% for article in object_list %}
        <a href="articles/{{ article.slug }}" class="link">
            <div class="img" style="background-image: url('{{ article.main_image.url }}')"><div></div></div>
            <div class="txt">
                <div class="tag">
                    {% for tag in article.secondary_tags.all %}
                        {{ tag }}
                    {% endfor %}
                    {% if user.is_superuser %}
                    <form action="journalist/editArticle/{{ article.ID }}">
                        <button type="submit" class="edit-button">
                            <i class="icon-pencil"></i> Edytuj
                        </button>
                    </form>
                    {% endif %}
                </div>
                <div class="title">{{ article.title }}</div>
                <div class="short_desc">{{ article.short_desc }}</div>
            </div>
            <div class="txt_bottom">
                <hr>
                <div class="date" style="float: left">{{ article.pub_date }}<br>{{ article.views }} odsłon</div>
            </div>
        </a>
    <div class="dividingTilde"><hr></div>
{% endfor %}
    </div>
{% if page_obj.has_next or page_obj.has_previous %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo;&nbsp;Pierwsza strona</a>
            <a href="?page={{ page_obj.previous_page_number }}">Poprzednie</a>
        {% endif %}
        <div class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </div>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Następne</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Ostatnia strona&nbsp;&raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
</body>
</html>

{% endblock %}
