{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="pl">
<head>
    {% load compress static %}

    {% compress css %}
    <link type="text/x-scss" href="{% static 'scss/article_list.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

    {% block head %}
    <meta property="og:title" content="W Obliczu Zmian - artykuły">
    <meta property="og:image:url" content="https://wobliczu.pl/media/preview.png">
    <meta property="og:description" content="Serwis prognostyczno-analityczny gromadzący informacje z całego świata.">
    <meta property="og:url" content="https://wobliczu.pl/articles">

    <meta name="twitter:title" content="W Obliczu Zmian - artykuły">
    <meta name="twitter:description" content="Serwis prognostyczno-analityczny gromadzący informacje z całego świata.">
    <meta name="twitter:image" content="https://wobliczu.pl/media/preview.png">

    <title>W Obliczu Zmian</title>

    <meta name="description" content="Lista wszystkich artykułów od najnowszych do najstarszych.">
    <meta name="url" content="https://wobliczu.pl/articles">
    {% endblock %}

</head>
<body>
<div class="container">
{% for article in object_list %}
        <a href="{{ article.slug }}" class="article">
            <div class="article-img" style="background-image: url('{{ article.main_image.url }}')"><div></div></div>
            <div class="article-txt">
                <div class="article-tag">
                    {% for tag in article.secondary_tags.all %}
                        {{ tag }}
                    {% endfor %}
                    {% if user.is_superuser %}
                    <form action="journalist/editArticle/{{ article.slug }}">
                        <button type="submit" class="edit-button">
                            <i class="icon-pencil"></i> Edytuj
                        </button>
                    </form>
                        <form action="confirm-delete/{{ article.id }}" method="post">
                        {% csrf_token %}
                            <button class="article-delete"><i class="icon-trash"></i> Usuń to</button>
                        </form>
                    {% endif %}
                </div>
                <div class="article-title">{{ article.title }}</div>
                <div class="article-short-desc">{{ article.short_desc }}</div>
            </div>
            <div class="article-txt-bottom">
                <hr>
                <div class="article-date" style="float: left">{{ article.pub_date }}<br>{{ article.views }} odsłon</div>
            </div>
        </a>
    <hr>
{% endfor %}
</div>
{% if page_obj.has_next or page_obj.has_previous %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo;&nbsp;Pierwsza strona</a>
            <a href="?page={{ page_obj.previous_page_number }}">Poprzednie</a>
        {% endif %}
        <div class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </div>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Następne</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Ostatnia strona&nbsp;&raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
</body>
</html>

{% endblock %}
